<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>

<!--bootstrap model脚本-->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/pintuer.css" >
<link rel="stylesheet" href="../css/admin.css">
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/pintuer.js"></script>
<script src="../js/my/show.js"></script><!--自编弹出显示-->
    <!--全局样式优先级高一点，最高的应该是内联样式-->
    <style>
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="/api/adminAddHouse">添加房源</a> </li>
        <li>搜索：</li>
        <li>
          <input type="text" placeholder="请输入标题关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>
      </ul>
    </div>
    <table class="table table-hover text-center">

      <tr>
        <th style="text-align:left;">ID</th>
        <th>房源照片</th>
        <th>房主</th>
        <th>标题</th>
        <!--<th>剩余房间数量</th>-->
        <!--<th>收藏量</th>-->
        <th>预览量</th>
        <th>出租价格</th>
        <th>地址</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
        <volist name="list" id="vo">
        <tr th:each="house:${houses}">
          <td style="text-align:left;">
              <input type="checkbox" name="id[]" th:value="${house.getHousesId()}"/>
           </td>
          <td width="10%"><img th:src="${house.getHousesPhoto()}" alt="" width="70" height="50" /></td>
          <td th:text="${house.getUserInfo().getRealName()}"></td>
          <!--  <td th:required=""></td>-->
          <td th:text="${house.getHousesTitle()}"></td>
          <!--<td th:text="${house.getHousesCount()}"></td>-->
          <!--<td th:text="${house.getHousesFocus()}"></td>-->
          <td th:text="${house.getHousesView()}"></td>
          <td th:text="${house.getHousesPrices()}"></td>
          <td th:text="${house.getHousesAddress()}"></td>
          <td th:if="${house.getHousesFalgs()}==2" style="color: red">已删除</td>
          <td th:if="${house.getHousesFalgs()}==1" style="color: orange">下线</td>
          <td th:if="${house.getHousesFalgs()}==0" style="color: #00aa00">在线</td>
         <!-- <td th:text="${user.getUserStatus()}"></td>-->
          <td>
              <div class="button-group">
                  <a class="button border-main" th:href="'updateHousesIndex?housesId='+${house.getHousesId()}">
                      <span class="icon-edit"></span> 修改
                  </a>
                  <a class="button border-green" th:href="'selectHousesOrder?housesId='+${house.getHousesId()}">
                      <span class="icon-search"></span> 查看订单
                  </a>
                  <a class="button border-blue" th:href="'selectHousesComment?housesId='+${house.getHousesId()}">
                      <span class="icon-search"></span> 查看评论
                  </a>
                  <a class="button border-red" th:onclick="del([[${house.getHousesId()}]],[[${house.getHousesFalgs()}]])">
                      <span class="icon-trash-o"></span> 删除
                  </a>
              </div>
          </td>
        </tr>
      <tr th:if="${houses.size()}!=0">
        <td style="text-align:left; padding:19px 0;padding-left:20px;">
            <input type="checkbox" id="checkall"/>
          全选 </td>
        <td colspan="13" style="text-align:left;padding-left:20px;  ">
            <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a>
            <!--<a href="javascript:void(0)" style="padding:5px 15px; margin:0 10px;" class="button border-blue icon-edit" onclick="sorts()"> 排序</a>-->
         </td>
      </tr>
      <tr th:if="${houses.size()}!=0">
            <td colspan="13">
                <div class="pagelist">
                    <!--分页===============================================-->
                    <!--<ul class="pagination pagination-lg" >-->
                    <ul>
                        <li th:class="${indexPage==1}?'disabled':''" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage -1}}">上一页</a></li>
                        <li th:if="${indexPage -3 >=1}" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage -3}}" th:text="${indexPage -3}" >1</a></li>
                        <li th:if="${indexPage -2 >=1}" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage -2}}" th:text="${indexPage -2}" >1</a></li>
                        <li th:if="${indexPage -1 >=1}" style="float: left"><a th:href="@{${request}+'?power=2&page='+ ${indexPage -1}}" th:text="${indexPage -1}" >1</a></li>
                        <li class="active" style="float: left;"><a href="#" th:text="${indexPage}" style="background-color: #00aaee">1</a></li>
                        <li th:if="${indexPage+1 <=totalPage}" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage+1}}" th:text="${indexPage +1}" >1</a></li>
                        <li th:if="${indexPage+2 <=totalPage}" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage+2}}" th:text="${indexPage +2}" >1</a></li>
                        <li th:if="${indexPage+3 <=totalPage}" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage+3}}" th:text="${indexPage +3}" >1</a></li>
                        <li th:class="${indexPage==totalPage}?'disabled':''" style="float: left"><a th:href="@{${request}+'?power=2&page=' + ${indexPage+1}}">下一页</a></li>
                    </ul>
                    <!--分页结束================================================================================================-->
                </div>
            </td>
      </tr>
        </volist>

    </table>
      <!--<div th:text="${msg}" id="add" ></div>-->
      <div style="width:100%;height: 50px;"  th:if="${houses.size()}==0"><h1 style="text-align: center">暂无数据!!!</h1></div>
  </div>
</form>

<script type="text/javascript">
    //搜索
    function changesearch(){
        var name = $("input[name=keywords]");
        location.href="getHousesLikeName?&HousesTitle="+name.val();
    }

    //单个删除
    function del(id,f){
        if (f=="2") {
            func("请勿重复删除","red");
        }else if(confirm("您确定要删除吗?")){
            location.href="/api/deleteHouse?houseId="+id;
        }
    }

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要删除选中的内容吗？");
            if (t==false)
            {
                return false;
            }
            else{
                var checkedID="";
                $("input[name='id[]']").each(function() {
                    if (this.checked == true) {
                        checkedID += this.value + ",";
                    }
                });
                window.location.replace("/api/deleteHouses?checkedID="+checkedID);
            }
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }

    //批量排序
    function sorts(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){

            $("#listform").submit();
        }
        else{
            alert("请选择要操作的内容!");
            return false;
        }
    }
</script>
</body>
<!--自动消失的弹出提示信息-->
<script th:inline="javascript">
    var results = [[${msg}]];
    if (results!=null) {
        //alert(results)
        func(results,"#999999");
    }
</script>
</html>