<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/pintuer.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/my/show.js"></script><!--自编弹出显示-->
  <script src="/js/angular.min.js"></script>
  <script>
    var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
    //定义控制器
    app.controller('myController',function($scope,$http){
      $scope.findAll=function(){
        /*查询订单*/
        $http.get('/api/gethousesExamineList').success(
                function(response){
                  $scope.housesExamineList=response.housesDTOS;
                  $scope.num=response.housesDTOS.length;
                  $scope.indexPage=response.indexPage;
                  $scope.totalPage=response.totalPage;
                });
        /*查询所有房源*/

      };
     $scope.selectHousesE=function(page){
        $http.get('/api/gethousesExamineList?page='+page).success(
                function(response){
                  $scope.housesExamineList=response.housesDTOS;
                  $scope.num=response.housesDTOS.length;
                  $scope.indexPage=response.indexPage;
                  $scope.totalPage=response.totalPage;
                }
        )};
     $scope.infoShow=false;
      $scope.selectOneHouses=function(id,user){
        $scope.user=user;
        $http.get('/api/gethousesExamineInfo?housesId='+id).success(
                function(response){
                  $scope.housesExamineInfo=response;
                  $scope.InfoNum=response.length;
                  $scope.infoShow=true;
                });
        $http.get('/api/select/photoList?housesId='+id).success(
                function(response){
                  $scope.photoList=response;
                })
      };
      $scope.removeadd=function(){
        $scope.infoShow=false;
      };
      $scope.bExamine=function(housesId,user){
        $scope.user=user;
        $scope.housesId=housesId;
      };
        $scope.examineLogDTO={};
        $scope.dto={};
        $scope.examine=function(id,housesId,user){
            $scope.examineLogDTO.housesUser=user.username
            $scope.examineLogDTO.uemail=user.userEmil;
            $scope.dto.housesId=housesId;
            $http.post('/api/Examine?num='+id,$scope.examineLogDTO).success(
                function(response){
                    /*刷新列表*/
                    if (id==1) {
                        $scope.dto.housesFalgs=0;
                    }else {
                        $scope.dto.housesFalgs=2;
                    }
                    $http.post('/api/updateHousesByUser?housesId='+housesId,$scope.dto).success(
                        function(response){
                            /*刷新列表*/
                            $scope.selectHousesE(1);
                        }
                    )
                }
            )};

    });
  </script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 订单列表</strong></div>
  <table class="table table-hover text-center">
    <tr>
    <tr>
      <!--<th style="text-align:left;">ID</th>-->
      <th>房源照片</th>
      <th>房主</th>
      <th>标题</th>
      <th>出租价格</th>
      <th>地址</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </tr>
    <tr ng-repeat="housesExamine in housesExamineList">
      <td><img src="{{housesExamine.housesPhoto}}" alt="" width="120" height="50" /></td>
      <td>{{housesExamine.userInfo.realName}}</td>
      <td>{{housesExamine.housesTitle}}</td>
      <td>{{housesExamine.housesPrices}}</td>
      <td>{{housesExamine.housesAddress}}</td>
      <td ng-show="housesExamine.housesFalgs==3" style="color: red">待审核</td>
      <td><div class="button-group">
        <a class="button border-main" ng-click="examine(1,housesExamine.housesId,housesExamine.userInfo)"> <span class="icon-edit"></span> 通过 </a>
        <a class="button border-green" ng-click="selectOneHouses(housesExamine.housesId,housesExamine.userInfo)">
          <span class="icon-search"></span> 详细信息
        </a>
        <a class="button border-red" ng-click="bExamine(housesExamine.housesId,housesExamine.userInfo)" data-toggle="modal" data-target="#myModal"><span class="icon-trash-o"></span>驳回</a>
      </div></td>
    </tr>
    <tr ng-if="num!=0">
      <td colspan="13">
        <div class="pagelist">
          <!--分页===============================================-->
          <!--<ul class="pagination pagination-lg" >-->
          <ul>
            <li ng-class="indexPage==1?'disabled':''" style="float: left"><a ng-click="selectHousesE(indexPage -1)">上一页</a></li>
            <li ng-if="indexPage -3 >=1" style="float: left"><a ng-click="selectHousesE(indexPage -3)" >{{indexPage -3}}</a></li>
            <li ng-if="indexPage -2 >=1" style="float: left"><a ng-click="selectHousesE(indexPage -2)">{{indexPage -2}}</a></li>
            <li ng-if="indexPage -1 >=1" style="float: left"><a ng-click="selectHousesE(indexPage -1)" >{{indexPage -1}}</a></li>
            <li class="active" style="float: left;"><a href="#" style="background-color: #00aaee">{{indexPage}}</a></li>
            <li ng-if="indexPage+1 <=totalPage" style="float: left"><a ng-click="selectHousesE(indexPage +1)">{{indexPage +1}}</a></li>
            <li ng-if="indexPage+2 <=totalPage" style="float: left"><a ng-click="selectHousesE(indexPage +2)">{{indexPage +2}}</a></li>
            <li ng-if="indexPage+3 <=totalPage" style="float: left"><a ng-click="selectHousesE(indexPage +3)">{{indexPage +3}}</a></li>
            <li ng-class="indexPage==totalPage?'disabled':''" style="float: left"><a ng-click="selectHousesE(indexPage +1)">下一页</a></li>
          </ul>
          <!--分页结束================================================================================================-->
        </div>
      </td>
    </tr>
    <!--<tr ng-if="">暂无订单!!!</tr>-->
  </table>
  <div style="width:100%;height: 50px;"  ng-if="num==0"><h1 style="text-align: center">暂无待审核房源!!</h1></div>
</div>
<div class="panel admin-panel margin-top" ng-show="infoShow">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 申请详细信息</strong><button ng-click="removeadd()" style="margin-left: 10px;border: red">隐藏</button></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label" style="text-align: center;">
          <label>房源详细信息：</label>
        </div>
        <table border="1" style="padding: 1em;border-color: #9fcdff;text-align: center;margin-left: 10%;width: 80%"  ng-show="InfoNum!=0">
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">房源类型：</td>
            <td style="width: 10%; ">{{housesExamineInfo.dictType}}</td>
            <td style="color:#9fcdff;width: 20%; ">可入住：</td>
            <td style="width:10%; ">{{housesExamineInfo.inNum}}人</td>
            <td style="color:#9fcdff;width: 20%; ">是否收取押金：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isDeposit==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isDeposit==false"><img src="/icon/false.png"></td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">房源规格：</td>
            <td>{{housesExamineInfo.housesSpecs}}</td>
            <td style="color:#9fcdff ">独立卫生间：</td>
            <td>{{housesExamineInfo.iwc}}个</td>
            <td style="color:#9fcdff;width: 20%; ">押金：</td>
            <td>{{housesExamineInfo.deposit}}元</td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">清洁费：</td>
            <td>{{housesExamineInfo.cleanPrices}}</td>
            <td style="color:#9fcdff ">毛巾：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isTowel==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isTowel==false"><img src="/icon/false.png"></td>
            <td style="color:#9fcdff;width: 20%; ">拖鞋：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isSlipper==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isSlipper==false"><img src="/icon/false.png"></td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">是否有空调：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isAir==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isAir==false"><img src="/icon/false.png"></td>
            <td style="color:#9fcdff ">WIFI：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isWifi==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isWifi==false"><img src="/icon/false.png"></td>
            <td style="color:#9fcdff;width: 20%; ">洗衣机：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isWash==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isWash==false"><img src="/icon/false.png"></td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">衣挂：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isClothesHanger==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isClothesHanger==false"><img src="/icon/false.png"></td>
            <td style="color:#9fcdff ">24小时热水：</td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isHotWater==true"><img src="/icon/ico_true.png"></td>
            <td style="width: 10%; " ng-show="housesExamineInfo.isHotWater==false"><img src="/icon/false.png"></td>
            <td style="color:#9fcdff;width: 20%; "></td>
            <td style="width: 10%; "></td>
          </tr>
        </table>
        <div style="width:100%;height: 50px;" ng-show="InfoNum==0"><h1 style="text-align: center">暂无房源详细信息!!</h1></div>
      </div>
      <!--房源介绍图片-->
      <div class="form-group">
        <div class="label" style="text-align: center;">
          <label>房源介绍图片：</label>
        </div>
        <img src="{{img.photoPath}}" style="width: 200px;;height: 150px;" ng-repeat="img in photoList"/>
      </div>
      <!--用户介绍-->
      <div class="form-group">
        <div class="label" style="text-align: center;">
          <label>用户介绍：</label>
        </div>
        <table border="1" style="padding: 1em;border-color: #9fcdff;text-align: center;margin-left: 10%;width: 80%">
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">账号：</td>
            <td style="width: 10%; ">{{user.username}}</td>
            <td style="color:#9fcdff;width: 20%; ">真实姓名：</td>
            <td style="width:10%; ">{{user.realName}}</td>
            <td style="color:#9fcdff;width: 20%; ">用户电话：</td>
            <td style="width:10%; ">{{user.userTel}}</td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">用户邮箱：</td>
            <td style="width: 10%; ">{{user.userEmil}}</td>
            <td style="color:#9fcdff;width: 20%; ">权限：</td>
            <td style="width:10%;color: red " ng-show="user.userPower==0">普通用户</td>
            <td style="width:10%;color: orange " ng-show="user.userPower==1">管理员</td>
            <td style="width:10%;color: green " ng-show="user.userPower==2">商家</td>
            <td style="color:#9fcdff;width: 20%; ">状态：</td>
            <td style="width:10%;color: red " ng-show="user.userStatus==2">冻结</td>
            <td style="width:10%;color: orange " ng-show="user.userStatus==1">锁定</td>
            <td style="width:10%;color: green " ng-show="user.userStatus==0">正常</td>
          </tr>
          <tr style="height: 20px;">
            <td style="color:#9fcdff;width: 20%; ">地址：</td>
            <td style="width: 10%; ">{{user.userBackup1}}</td>
            <td style="color:#9fcdff;width: 20%; ">头像：</td>
            <td style="width:10%; ">
              <img src="{{user.userBackup2}}" alt="" width="50" height="20" />
            </td>
            <td style="color:#9fcdff;width: 20%; ">积分：</td>
            <td style="width:10%; ">{{user.points}}</td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })

</script>

<!--模态框脚本end-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">填写驳回原因</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             </div>
             <div class="modal-body">
                      <textarea ng-model="examineLogDTO.examineReson" style="width: 80%;height: 50px;margin-left: 10%;"></textarea><br><br><br>
                      <button type="button" class="button border-red" style="padding:5px 15px;float: right;margin-right: 10%" data-dismiss="modal">关闭</button>
                      <button type="submit" ng-click="examine(0,housesId,user)" class="button border-blue" style="padding:5px 15px;float: right;margin-right: 10%" data-dismiss="modal">保存</button>
                  </div>
         </div>
     </div>
</div>
<!--model end-->
</body></html>