<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="../css/pintuer.css">
    <link rel="stylesheet" href="../css/admin.css">
    <script src="../js/jquery.js"></script>
    <script src="/js/angular.min.js"></script>
    <script>
        var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
        //定义控制器
        app.controller('myController',function($scope,$http){
            $scope.findAll=function(){
                /*获取菜单*/
                $http.get('/api/getAdminMenuList').success(
                    function(response){
                        $scope.menuList=response;
                    }
                )};
            })
    </script>
</head>
<body style="background-color:#f2f9fd;" ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h3><img th:if="${user.getUserBackup2()}!=null" th:src="${user.getUserBackup2()}" class="radius-circle rotate-hover" height="50" alt="">
        <img th:if="${user.getUserBackup2()}==null" src="/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="">
    <!--<span th:text="${user.getRealName()}"></span>-->
        <span>系统管理中心</span>
    </h3>
  </div>
  <div class="head-l">
      <a class="button button-little bg-green" href="/api/count" target="_blank"><span class="icon-home"></span> 首页</a>
      &nbsp;&nbsp;<a class="button button-little bg-red" href="/api/loginOut"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>用户管理</h2>
  <ul style="display:block">
    <li><a href="getBusiness?power=2" target="right"><span class="icon-caret-right"></span>商家管理</a></li>
    <li><a href="getBusiness?power=0" target="right"><span class="icon-caret-right"></span>旅客管理</a></li>
    <li ng-repeat="menu in menuList" th:if="${user.getUsername()}=='admin'">
          <a target="right" href="{{menu.menuRequest}}"><span class="icon-caret-right"></span>{{menu.menuProcince}}</a>
    </li>
  </ul>   
  <h2><span class="icon-pencil-square-o"></span>房源管理</h2>
  <ul>
    <li><a href="/api/getAllHomeShow" target="right"><span class="icon-caret-right"></span>房源信息管理</a></li>
    <li><a href="/api/housesExamine" target="right"><span class="icon-caret-right"></span>房源审核</a></li>
    <li><a href="/api/selectHousesComment" target="right"><span class="icon-caret-right"></span>评价管理</a></li>
    <li><a href="/api/selectHousesOrder" target="right"><span class="icon-caret-right"></span>订单管理</a></li>
  </ul>
    <h2><span class="icon-pencil-square-o"></span>系统管理</h2>
    <ul>
        <li><a href="/api/getMenu" target="right"><span class="icon-caret-right"></span>菜单管理</a></li>
        <li><a href="/api/getDict" target="right"><span class="icon-caret-right"></span>字典管理</a></li>
        <li><a href="/api/dynamicManagement" target="right"><span class="icon-caret-right"></span>动态管理</a></li>
        <li><a href="/api/recommend" target="right"><span class="icon-caret-right"></span>装修管理</a></li>
    </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="count" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="count" name="right" width="100%" height="100%"></iframe>
</div>
</body>
</html>