<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/js/upload.js"></script><!--图片上传-->
<script src="/js/my/show.js"></script><!--自编弹出显示-->
<link href="/css/aos.css" rel="stylesheet">
	<script src="/js/angular.min.js"></script>
	<script th:inline="javascript">
		var userId = [[${user.getUserId()}]];
		var gets = true;//是否让表单提交
		var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
		//定义控制器
		app.controller('myController',function($scope,$http){
			$scope.findAll=function() {

			};
			$scope.show=false;
			$scope.showUplod=function(){
				$scope.show=true;
			}
			$scope.use={};
			$scope.updatePhoto=function () {
				$scope.use.userId=userId;
				// $scope.photoDto.housesId=9;
				// alert("size:"+$scope.photoDto.size+"photoName:"+$scope.photoDto.photoName+"photoPath:"+$scope.photoDto.photoPath)
				$http.post('/api/updateUserI', $scope.use).success(
						function (response) {
							location.href="/api/updatereturn";
						}
				)
			}
			var dragImgUpload = new DragImgUpload("#drop_area",{
				callback:function (files) {
					//回调函数，可以传递给后台等等
					var file = files[0];
					var form = new FormData();
					form.append('file', file);
					$http({
						method: 'POST',
						url: "/api/addPhoto",
						data: form,
						headers: {'Content-Type': undefined},
						transformRequest: angular.identity
					}).success(function (response) {
						$scope.use.userBackup2 = response;
						$scope.updatePhoto();
					})
					console.log(file.name);
				}});

			$(function(){
				//当输入框失去焦点的时候，需要执行的方法
				$("input[name=userTel]").blur(function(){doUserTel();});
				$("input[name=userEmil]").blur(function(){doUserEmil();});
				$("input[name=password]").blur(function(){doPassword();});

			});
			// 邮箱的的验证==========================
			function doUserEmil(){
				var t = $("input[name=userEmil]");
				var span = t.next();
				if(/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(t.val())){
					/*span.html("填写正确").css({color:"green",fontSize:"12px"});*/
					return true;
				}else{
					func("邮箱格式有误","#999999");
					// span.html("包含数字、字母、下划线，长度在6-16之间").css({color:"#ec4e4e",fontSize:"12px"});
					return false;
				}
			}
			// 电话号码验证==========================
			function doUserTel(){
				var t = $("input[name=userTel]");
				var span = t.next();
				if(/^(13[0-9]|14[5-9]|15[012356789]|166|17[0-8]|18[0-9]|19[8-9])[0-9]{8}$/.test(t.val())){
						// span.html("填写正确").css({color:"green",fontSize:"12px"});
						return true;

				}else{
					func("手机号码格式有误","#999999");
					// span.html("手机号码有误").css({color:"#ec4e4e",fontSize:"12px"});
					return false;
				}
			}

			// 密码的验证==========================
			function doPassword(){
				var t = $("input[name=password]");
				var span = t.next();
				if(t.val() == ''){
					func("密码不能为空","#999999");
					// span.html("密码不能为空").css({color:"#ec4e4e",fontSize:"12px"});
					return false;
				}else{
					span.html('');
					if(/.{15,}/.test(t.val())){
						func("密码长度不合法","#999999");
						// span.html("密码长度不合法");
						return false;
					}
					return true;
				}
			}
			// 数据提交的时候执行的方法
			function doTable(){
				var te = doUserTel();
				var em = doUserEmil();
				var pass = doPassword();
				if(te&&em&&pass){
					return true;
				}else{
					return false;
				}
			}
			});
	</script>
<title>小智民宿</title>
<link rel="icon" href="/images/logo.png">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div id="Welcome">
<div class="container" style="width: 40%;margin-top: 45px;margin-left: 30%">
	<!--- Restaurant-->
	<div class="row">
		<div class="col navMenu">
			<h2 class="text-center" style="font-size: 15px;">个人中心</h2>
		</div>
	</div>
	<div class="row bg-light" >

		<div style="float: left;margin-left: 30%;padding: 1em;">
				<div ng-show="!show">
					<div th:if="${user.getUserBackup2()}!=null">
						<a ng-click="showUplod()" title="修改头像">
						<img th:src="${user.getUserBackup2()}" alt="图片" style="width:auto;height: 180px;text-align: center;padding: 10px;">
						</a>
					</div>
					<div th:if="${user.getUserBackup2()}==null">
						<a ng-click="showUplod()" title="修改头像">
						<img src="/images/y.jpg" style="width: auto;height: 180px;text-align: center;padding: 10px;">
						</a>
					</div>
				</div>
				<div class="field" ng-show="show">
					<div id="drop_area"></div>
				</div>
			<!--修改头像-->
		</div>
		<hr>
		<div style="margin-left: 30%;padding: 1em;">
			<form action="/api/updateUserInfo?users=admin" method="post" style="height: 100%;" onsubmit="return doTable()">
				<input type="hidden" name="userId" th:value="${user.getUserId()}"/>
			<h5 style="font-size: 15px;margin-top: 10px;">用户账号：<input type="username" name="username" th:value="${user.getUsername()}" readonly="readonly" style="border: none"/> </h5>
			<h5 style="font-size: 15px;margin-top: 10px;">用户密码：<input type="password" name="password" th:value="${user.getPassword()}" style="border: none" /> </h5>
			<h5 style="font-size: 15px;margin-top: 10px;">真实姓名：<input type="text" name="realName" th:value="${user.getRealName()}" style="border: none" /></h5>
			<h5 style="font-size: 15px;margin-top: 10px;">电话号码：<input type="text" name="userTel" th:value="${user.getUserTel()}" style="border: none"/></h5>
			<h5 style="font-size: 15px;margin-top: 10px;">电子邮箱：<input type="text" name="userEmil" th:value="${user.getUserEmil()}" style="border: none" /></h5>
			<h5 style="font-size: 15px;margin-top: 10px;">家庭住址：<input type="text" name="userBackup1" th:value="${user.getUserBackup1()}" style="border: none" /></h5>
			<h5 style="font-size: 15px;margin-top: 10px;"><input type="hidden" name="userPower" th:value="${user.getUserPower()}"/></h5>
			<h5>
			<input type="submit" class="Btnsty_peyton" style="float: none;margin-top:20%; text-align: center;width: 70%;height: 50px;background-color: #00aaee" value="保存"/>
			</h5>
			</form>
		</div>
	</div>
	<!--- End of Restaurant -->
</div>
<!--<script src="../js/jquery-3.3.1.min.js"></script>-->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script defer src="/js/all.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="/js/smooth-scroll.js"></script>
	<script src="/js/aos.js"></script>
	<script type="text/javascript" src="/js/image-effect.js"></script>
<!--<script src="/js/jquery.js"></script>-->

</div>
</body>
</html>
