<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>

<!--bootstrap model脚本-->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/pintuer.css" >
<link rel="stylesheet" href="../css/admin.css">
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/pintuer.js"></script>
<script src="../js/my/show.js"></script><!--自编弹出显示-->
    <!--全局样式优先级高一点，最高的应该是内联样式-->
    <style>
        a:hover{
            text-decoration: none;
        }
    </style>
<script>
  $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
     })

</script>

<!--模态框脚本end-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">添加旅客</h4>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                   </div>
                   <div class="modal-body">
                        <form action="/api/addUser?falg=0" class="fm" method="post" onsubmit="return doTable()">
                            <table align="center">
                                <tr style="height: 60px;">
                                    <td style="width: 20%">登 录 名：</td>
                                    <td class="wlIcon icon">
                                        <s></s>
                                        <input type="text" name="username" maxlength="20" class="input" style="width:250px; line-height:17px;display:inline-block"/>
                                        <b>*</b>
                                        <span></span>
                                    </td>
                                </tr>
                                <tr style="height: 60px;">
                                    <td style="width: 20%">密 码：</td>
                                    <td class="wlIcon icon">
                                        <s class="mm"></s>
                                        <input type="password" name="password" maxlength="18" class="input" style="width:250px; line-height:17px;display:inline-block"/>
                                        <b>*</b>
                                        <span></span>
                                    </td>
                                </tr>
                                <tr style="height: 60px;">
                                    <td style="width: 20%">确 认 密 码：</td>
                                    <td class="wlIcon icon">
                                        <s class="mm"></s>
                                        <input type="password" name="repass" maxlength="18" class="input" style="width:250px; line-height:17px;display:inline-block"/>
                                        <b>*</b>
                                        <span></span>
                                    </td>
                                </tr>
                                <tr style="height: 60px;">
                                    <td class="wlBtns" align="center" colspan="2">
                                        <s></s>
                                        <button type="button" class="button border-red" style="padding:5px 15px;" data-dismiss="modal">关闭</button>
                                        <button type="submit"  class="button border-blue" style="padding:5px 15px;">保存</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        </div>
               </div>
           </div>
    </div>
    <!--model end-->
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" data-toggle="modal" data-target="#myModal">添加旅客</a> </li>
        <li>搜索：</li>
        <li>
          <input type="text" placeholder="请输入姓名关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>
      </ul>
    </div>
    <table class="table table-hover text-center">

      <tr>
        <th style="text-align:left; padding-left:20px;">ID</th>
        <th>登录名</th>
        <th>姓名</th>
        <th>头像</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>住址</th>
        <th width="10%">登录时间</th>
        <th width="10%">退出时间</th>
        <th>状态</th>
        <th width="310">操作</th>
      </tr>
        <volist name="list" id="vo">
        <tr th:each="user:${users}">
          <td style="text-align:left; padding-left:20px;">
              <input type="checkbox" name="id[]" th:value="${user.getUserId()}"/>
           </td>
          <td th:text="${user.getUsername()}"></td>
          <td th:text="${user.getRealName()}"></td>
            <td width="10%" th:if="${user.getUserBackup2()!=null}"><img th:src="${user.getUserBackup2()}" alt="" width="70" height="50" /></td>
            <td width="10%" th:if="${user.getUserBackup2()==null}"><img src="../images/11.jpg" alt="" width="70" height="50" /></td>
          <td th:text="${user.getUserTel()}"></td>
          <td th:text="${user.getUserEmil()}"></td>
          <td th:text="${user.getUserBackup1()}"></td>
            <td th:text="${#dates.format(user.getUserLogintime(), 'yyyy/MM/dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(user.getUserLoginouttime(), 'yyyy/MM/dd HH:mm:ss')}"></td>
          <td th:if="${user.getUserStatus()}==1" style="color: red">锁定</td>
          <td th:if="${user.getUserStatus()}==2" style="color: orange">冻结</td>
          <td th:if="${user.getUserStatus()}==0" style="color: #00aa00">正常</td>
         <!-- <td th:text="${user.getUserStatus()}"></td>-->
          <td>
              <div class="button-group">
                  <a class="button border-main" th:href="'updateUserIndex?uid='+${user.getUserId()}">
                      <span class="icon-edit"></span> 修改
                  </a>
                  <a class="button border-red" th:onclick="'javascript:del('+${user.getUserId()}+');'">
                      <span class="icon-trash-o"></span> 删除
                  </a>
              </div>
          </td>
        </tr>
      <tr th:if="${users.size()}!=0">
        <td style="text-align:left; padding:19px 0;padding-left:20px;">
            <input type="checkbox" id="checkall"/>
          全选 </td>
        <td colspan="10" style="text-align:left;padding-left:20px;  ">
            <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a>
            <!--<a href="javascript:void(0)" style="padding:5px 15px; margin:0 10px;" class="button border-blue icon-edit" onclick="sorts()"> 排序</a>-->
         </td>
      </tr>
      <tr th:if="${users.size()}!=0">
            <td colspan="10">
                <div class="pagelist">
                    <!--分页===============================================-->
                    <!--<ul class="pagination pagination-lg" >-->
                    <ul>
                        <li th:class="${indexPage==1}?'disabled':''" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage -1}}">上一页</a></li>
                        <li th:if="${indexPage -3 >=1}" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage -3}}" th:text="${indexPage -3}" >1</a></li>
                        <li th:if="${indexPage -2 >=1}" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage -2}}" th:text="${indexPage -2}" >1</a></li>
                        <li th:if="${indexPage -1 >=1}" style="float: left"><a th:href="@{${business}+'?power=0&page='+ ${indexPage -1}}" th:text="${indexPage -1}" >1</a></li>
                        <li class="active" style="float: left;"><a href="#" th:text="${indexPage}" style="background-color: #00aaee">1</a></li>
                        <li th:if="${indexPage+1 <=totalPage}" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage+1}}" th:text="${indexPage +1}" >1</a></li>
                        <li th:if="${indexPage+2 <=totalPage}" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage+2}}" th:text="${indexPage +2}" >1</a></li>
                        <li th:if="${indexPage+3 <=totalPage}" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage+3}}" th:text="${indexPage +3}" >1</a></li>
                        <li th:class="${indexPage==totalPage}?'disabled':''" style="float: left"><a th:href="@{${business}+'?power=0&page=' + ${indexPage+1}}">下一页</a></li>
                    </ul>
                    <!--分页结束================================================================================================-->
                </div>
            </td>
      </tr>
        </volist>

    </table>
      <!--<div th:text="${msg}" id="add" ></div>-->
      <div style="width:100%;height: 50px;"  th:if="${users.size()}==0"><h1 style="text-align: center">暂无数据!!!</h1></div>
  </div>
</form>

<script type="text/javascript">
    /*表单验证*/
    var gets = true;//是否让表单提交
    $(function(){
        // 提示信息===========================================
        $("input[name=username]").focus(function(){
            if($(this).val() == this.defaultValue){
                $(this).val('');
            }
        }).blur(function(){
            if($(this).val() == ''){
                $(this).val(this.defaultValue);
            }
        });
        //当输入框失去焦点的时候，需要执行的方法
        $("input[name=username]").blur(function(){doLgname();});
        $("input[name=password]").blur(function(){doPassword();});
        $("input[name=repass]").blur(function(){doRepass();});
    });
    // 登陆名称的验证==========================
    function doLgname(){
        var t = $("input[name=username]");
        var span = t.next();
        if(/^\w{6,16}$/.test(t.val())){
            /*span.html("填写正确").css({color:"green",fontSize:"12px"});*/
            doOnlyname();
            return true;
        }else{
            span.html("包含数字、字母、下划线，长度在6-16之间").css({color:"#ec4e4e",fontSize:"12px"});
            return false;
        }
    }
    // 登陆名称唯一性的验证==========================
    function doOnlyname(){
        var t = $("input[name=username]");
        var span = t.next();
        $.ajax({
            type:"post",
            //发送请求的地址1
            url : "stu-exist",
            data : {"username" :t.val()},
            //服务器返回的数据类型
            dataType : "json",
            success : function(data) {
                if(data==false){
                    span.html("填写正确").css({color:"green",fontSize:"12px"});
                    return true;
                }else{
                    span.html("用户名已被注册").css({color:"#ec4e4e",fontSize:"12px"});
                    return false;
                }
            }
        })
    }

    // 密码的验证==========================
    function doPassword(){
        var t = $("input[name=password]");
        var span = t.next();
        if(t.val() == ''){
            span.html("密码不能为空").css({color:"#ec4e4e",fontSize:"12px"});
            return false;
        }else{
            span.html('');
            if(/.{15,}/.test(t.val())){
                span.html("密码长度不合法");
                return false;
            }
            return true;
        }
    }
    // 确认密码的验证==========================
    function doRepass(){
        var t = $("input[name=repass]");
        var span = t.next();
        if(t.val() == $("input[name=password]").val() && t.val() != ''){
            span.html("填写正确").css({color:"green",fontSize:"12px"});
            return true;
        }else{
            span.html("两次密码不一致").css({color:"#ec4e4e",fontSize:"12px"});
            return false;
        }
    }
    // 数据提交的时候执行的方法
    function doTable(){
        var lg = doLgname();
        // var lo = doOnlyname();
        var pass = doPassword();
        var repass = doRepass();
        if(lg&&pass&&repass){
            return true;
        }else{
            return false;
        }
    }
    //搜索
    function changesearch(){
        var name = $("input[name=keywords]");
        location.href="getBusinessLikeName?power=0&name="+name.val();
    }

    //单个删除
    function del(id){
        if(confirm("您确定要删除吗?")){
            location.href="/api/deleteUser?falg=0&uid="+id;
        }
    }

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要删除选中的内容吗？");
            if (t==false)
            {
                return false;
            }
            else{
                var checkedID="";
                $("input[name='id[]']").each(function() {
                    if (this.checked == true) {
                        checkedID += this.value + ",";
                    }
                });
                window.location.replace("/api/deleteUsers?falg=0&checkedID="+checkedID);
            }
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }

    //批量排序
    function sorts(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){

            $("#listform").submit();
        }
        else{
            alert("请选择要操作的内容!");
            return false;
        }
    }
</script>
</body>
<!--自动消失的弹出提示信息-->
<script th:inline="javascript">
    var results = [[${msg}]];
    if (results!=null) {
        //alert(results)
        func(results,"#999999");
    }
</script>
</html>