<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<link href="/css/pay.css" rel="stylesheet">
<script src="/js/angular.min.js"></script>
<script>
    var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
    //定义控制器
    app.controller('myController',function($scope,$http){
            $scope.remove=function () {
                location.href="/api/myorder";
            }
        })
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="font-size: 30px" ng-app="myApp" ng-controller="myController">
<div class="bbp">
    <div class="orderTitle">订单确认</div>
    <div class="pay">
    <form method="post" action="/alipay/page/gotoPayPage">
       <h3> 订单编号：<span th:text="${oneOder.orderId}"></span></h3>
        <h3> 入住时间：<span th:text="${#dates.format(oneOder.startTime, 'yyyy/MM/dd')}">2020-02-01</span></h3>
        <h3> 退租时间：<span th:text="${#dates.format(oneOder.endTime, 'yyyy/MM/dd')}">2020-02-02</span></h3>
        <h3> 入住人数：<span th:text="${oneOder.pepoleNum}">2个</span>人</h3>
        <h3>  房源单价：<span th:text="${oneOder.onlyPrices}">100元/天</span>/天</h3>
        <h3>  需要支付：<span th:text="${oneOder.orderPrices}">100元</span>元</h3>
        <button type="submit">立即支付</button>
        <button type="button" style="background-color: #b9bbbe;margin-top: 10px;" ng-click="remove()">取消</button>
    </form>
    </div>
</div>
</body>
</html>
