<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/pintuer.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/styleTab.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
	<link href="/css/aos.css" rel="stylesheet">
	<title>小智民宿</title>
	<link rel="icon" href="/images/logo.png">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/my/show.js"></script><!--自编弹出显示-->
	<script src="/js/angular.min.js"></script>

	<script th:inline="javascript">
		var housesId = [[${houses.getHousesId()}]];
		var housesOnlyprice = [[${houses.getHousesPrices()}]];
		var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
		//定义控制器
		app.controller('myController',function($scope,$http){
			$scope.findAll=function(){
				/*查看房源其他信息*/
				$http.get('/api/select/housesDetailsById?housesId='+housesId).success(
						function(response){
							$scope.housesDetails=response;
							/*查看房源类型*/
							$http.get('/api/select/sysDictById?dictId='+response.dictId).success(
									function(response){
										$scope.sysDictById=response;
									}
							);
							/*查看房源类型选择*/
							$http.get('/api/select/getHousesType?name=房源类型').success(
									function(response){
										$scope.housesType=response;
									}
							)/*查看房源入住人数限制选择*/
							$http.get('/api/select/getHousesType?name=入住房客数').success(
									function(response){
										$scope.peopleNum=response;
									}
							)
						}
				);
				/*查看房源轮播图片*/
				$http.get('/api/select/photoList?housesId='+housesId).success(
						function(response){
							$scope.photoList=response;
						}
				);
				/*查看房源评论*/
				$http.get('/api/select/commentList?housesId='+housesId).success(
						function(response){
							$scope.commentList=response;
							$scope.commentVoList=response.commentVO;
						}
				);
			};


			/*预定*/
			$scope.reserve=function(){
				var dt = doTable();
				if(dt){
				// location.href="/api/select/reserveHouses?houserId="+id;
					$scope.orderList.orderPrices=$scope.priceAll;
					$scope.orderList.housesId=housesId;
					$http.post("/api/reserveHouses",$scope.orderList).success(
							//添加后直接跳转到支付页面
							function(response){
								location.href="/api/gotoPagePay";
								// $scope.housesList=response;
								// $scope.show=false;
							})
				}
				else {
					alert("请填写完整的预订信息！");
				}
				};
			$scope.priceShow=false;
			/*校验预定*/
			$(function() {
				/*验证限制提交订单前算出总价显示*/
				/*失去焦点的时候执行*/
				$("input[name=startday]").blur(function () {startday();	});
				$("input[name=endday]").blur(function () {
					endday();
					var dt = doTable();
					if(dt==true){
						var dateSpan,tempDate1,tempDate2,iDays;
						tempDate1 = Date.parse($scope.orderList.endTime);
						tempDate2 = Date.parse($scope.orderList.startTime);
						dateSpan = tempDate1 - tempDate2;
						dateSpan = Math.abs(dateSpan);
						iDays = Math.floor(dateSpan / (24 * 3600 * 1000));
						$scope.iDays=iDays+1
						$scope.priceAll=(iDays+1)*housesOnlyprice;
						// alert("时间："+$scope.priceAll);
						$scope.priceShow=true;
					}
				});
			});
			function startday(){
					if($scope.orderList.startTime==null){
						alert("开始时间不能为空");
						return false;
					}
					// alert($scope.orderList.startTime);
				return true
			}
			function endday(){
				if($scope.orderList.endTime!=null){
					// alert($scope.orderList.endTime);
					// alert("退租时间不能为空");
					if($scope.orderList.startTime>$scope.orderList.endTime){
						alert("退租时间不能在入住时间前面");
						return false;
					}
				}else {
					return false;
				}
				return true
			}
			function doTable(){
				var sd = startday();
				// var lo = doOnlyname();
				var ed = endday();
				if(sd&&ed){
					return true;
				}else{
					return false;
				}
			}
		});
	</script>
	<!--自动消失的弹出提示信息-->
	<!--<script th:inline="javascript">-->
		<!--var results = [[${msg}]];-->
		<!--if (results!=null) {-->
			<!--//alert(results)-->
			<!--func(results,"#999999");-->
		<!--}-->
	<!--</script>-->
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div id="Welcome">
	<!--Start navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="/images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--菜单-->
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#Welcome">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Menu">民宿预定</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Restaurant">最新动态</a>
				</li>
				<!--<li class="nav-item">-->
					<!--<a class="nav-link" href="#aboutUs">关于我们</a>-->
				<!--</li>-->
				<!--<li class="nav-item">-->
					<!--<a class="nav-link" href="#Reservation">联系我们</a>-->
				<!--</li>-->
				<li class="nav-item" th:if="${session.user}==null">
					<a href="/api/indexToLogin"  class="nav-link">登录</a>
				</li>
				<li class="nav-item" th:if="${session.user}==null">
					<a href="/api/indexToRegister" class="nav-link">注册</a>
				</li>
				<li class="nav-item" style="width: 150px" th:if="${session.user}!=null">
					<ul class="nav nav-pills">
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"  aria-expanded="false" style="text-decoration: none; width: 160px" >
								<!--<img src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="" />-->
								<img th:if="${session.user.getUserBackup2()}!=null" th:src="${session.user.getUserBackup2()}" class="radius-circle rotate-hover" height="15" alt="">
								<img th:if="${session.user.getUserBackup2()}==null" src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="">
								<span th:text="${session.user.getRealName()}" style="width: 150px"></span>
							</a>
							<ul class="dropdown-menu" style="display:none; min-width: 80px; left: 10px;">
								<li><a style="text-decoration: none;" th:href="'../myself?users=user&userId='+${session.user.getUserId()}">个人中心</a></li>
								<li><a href="/api/loginOut" style="color: #ff5500;text-decoration: none;">退出</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!-- End Navigation Bar -->
	<!--Start lunBo-->

		<div id="box" style="width: 100%;margin-left: 20%;margin-top: 90px;">
			<!-- 这里的图片可以用一个for循环动态成多个li就可以了 -->
			<ul id="picBox">
				<li class="sPic" ng-repeat="img in photoList">
						<!--<p style="position: absolute;font-size: 40px;color: white">{{img.houseTilte}}</p>-->
						<img src="{{img.photoPath}}">
				</li>
			</ul>
			<div class="bn" id="before"></div>
			<div class="bn" id="next"></div>
			<!--右下角的几个点-->
			<ul id="btnBox">
				<li class="picBtn" ng-repeat="img in photoList"></li>
			</ul>
		</div>

</div>

<div style="width: 100%;margin-left: 20%">
	<h3 th:text="${houses.getHousesTitle()}"></h3>
	<h5 th:text="${houses.getHousesDescribe()}"></h5>
	<img src="/images/shouchang.png">
	<img src="/images/shouchang.png">
	<img src="/images/shouchang.png">
</div>
<hr style="width: 100%;margin-left: 20%"/>
<!--End of Carousel-->
<div class="container" style="width: 100%;margin-left: 20%">
	<!--Start of Menu-->
		<figure class="tabBlock">
			<ul class="tabBlock-tabs">
				<li class="tabBlock-tab is-active">房屋概况</li>
				<li class="tabBlock-tab">配备设施</li>
				<li class="tabBlock-tab">用户评价（{{commentList.count}}分）</li>
			</ul>
			<div class="tabBlock-content">
				<div class="tabBlock-pane" style="height: 100px;">
					<div style="width:100px;text-align: center;float: left"><img src="/images/fanzi.png"><div>{{sysDictById.name}}</div></div>
					<div style="width:100px;text-align: center;float: left"><img src="/images/men.png"><div>{{housesDetails.housesSpecs}}</div></div>
					<div style="width:100px;text-align: center;float: left"><img src="/images/chuang.png"><div><span th:text="${houses.getHousesCount()}" style="width: 3px;text-align: right"></span>间房</div></div>
					<div style="width:100px;text-align: center;float: left"><img src="/images/renshu.png"><div>可入住{{housesDetails.inNum}}人</div></div>
					<div style="width:100px;text-align: center;float: left"><img src="/images/weishenjian.png"><div>独立卫生间{{housesDetails.iwc}}个</div></div>
					<div style="width:100px;text-align: center;float: left" ng-if="housesDetails.isDeposit"><img src="/images/yajing.png"><div>{{housesDetails.deposit}}元</div></div>
				</div>
				<div class="tabBlock-pane" style="height: 200px;">
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isTowel"><img src="/icon/maojin.png"><div>毛巾</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isSlipper"><img src="/icon/tuoxie.png"><div>拖鞋</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isAir"><img src="/icon/kongtiao.png"><div>空调</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isWifi"><img src="/icon/WIFI.png"><div>WIFI</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isWash"><img src="/icon/xiyiji.png"><div>洗衣机</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isClothesHanger"><img src="/icon/yijia.png"><div>衣挂</div></div>
					<div style="width:200px;text-align: center;float: left" ng-if="housesDetails.isHotWater"><img src="/icon/24reshui.png"><div>24小时热水</div></div>
				</div>
				<div class="tabBlock-pane">
					<div>
						<div class="comment" ng-repeat="comment in commentVoList">
							<div class="photo">
								<img src="{{comment.userPhoto}}">
								{{comment.username}}
								<span>{{comment.createTime}}</span>
								<span style="margin-left: 10px;">评分:{{comment.commentPower}}</span>
							</div>
							<hr>
							<div class="context">
								{{comment.commentContent}}
							</div>
							<div ng-if="comment.isPhoto">
								<img src="{{comment.commentPhoto}}"/>
							</div>
						</div>
					</div>
					<div ng-if="!commentList.isData">
						该房源暂无评论
					</div>
				</div>
			</div>
		</figure>
</div>
<div class="hu_top" >
<!--订购金额计算-->
    <div class="h_top">
        <div class="prices">
            <img src="/images/prices.png">
            <label th:text="${houses.getHousesPrices()}"></label>/天
        </div><br>
        <div class="inp">
            <label>入住日期</label>
            <input type="date" name="startday" style="border: none;width: 120px;height: 30px;" value="年-月-日" ng-model="orderList.startTime"/>
        </div>
        <div class="inp">
            <label>退房日期</label>
            <input type="date" name="endday" style="border: none;width: 120px;height: 30px;" value="年-月-日" ng-model="orderList.endTime"/>
        </div>
        <div class="inp">
            <label>人数</label>
            <select ng-model="orderList.pepoleNum">
                <option value="1">1人</option>
                <option value="2">2人</option>
            </select>
        </div>
		<div ng-show="priceShow" style="margin-left: 30px;font-size: 20px;">
			<label>总价计算:单价*预订天数</label>
			<br>
			<label>需支付:{{priceAll}}</label>
		</div>
        <div class="price">
			<!-- data-toggle="modal" data-target="#myModal"  -->
            <input type="submit" ng-click="reserve()" value="立即预定">
        </div>
    </div>
    <!--房主信息-->
    <div class="u_top">
        <div class="uinfo">
            <img th:src="${houses.getUserInfo().getUserBackup2()}">
            <label th:text="${houses.getUserInfo().getUsername()}"></label>
        </div>
        <div class="cuser">
			<!--<label><img src="/images/callhoues.png">联系房东</label>-->
            <input type="submit" value="联系房东">
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<!--轮播图js-->
<link href="/css/base.css" rel="stylesheet">
<script src="/js/lunbo.js"></script>
<!--tab切换-->
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>


</body>
</html>