<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/styleTab.css" media="screen" type="text/css" />
<!--星星评分样式-->
<link rel="stylesheet" href="/css/star.css">
<script src='/js/jquery.js'></script>
<script src="/js/index.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script defer src="/js/all.js"></script>
<!--<script type="text/javascript" src="/js/smooth-scroll.js"></script>-->
	<script src="/js/upload.js"></script><!--图片上传-->
<script src="/js/jquery.min.js"></script>
<script src="/js/my/show.js"></script><!--自编弹出显示-->
<script src="/js/angular.min.js"></script>
<title>小智民宿</title>
<link rel="icon" href="/images/logo.png">
	<script th:inline="javascript">
		var userId = [[${session.user.getUserId()}]];
		// var msg = [[${msg}]];
		var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
		//定义控制器
		app.controller('myController',function($scope,$http){
			$scope.findAll=function(){
				/*获取菜单*/
				$http.get('/api/getMenuList').success(
						function (response) {
							$scope.menuList = response;
						}
				);
				/*查看房源其他信息*/
				$http.get('/api/myOrderByUserId?userId='+userId).success(
						function(response){
							/*列表*/
							$scope.orderAll=response.orderAll;
							$scope.orderNotPay=response.orderNotPay;
							$scope.orderNotIn=response.orderNotIn;
							$scope.orderComment=response.orderComment;
							/*计数*/
							$scope.orderAllNum=response.orderAllNum;
							$scope.orderNotPayNum=response.orderNotPayNum;
							$scope.orderNotInNum=response.orderNotInNum;
							$scope.orderCommentNum=response.orderCommentNum;
						}
				);

			};
			$scope.select=function(id) {
				location.href="/api/select/findHousesById?houserId="+id;
			};
			/*点击去支付按钮*/
			$scope.goPay=function(id) {
				location.href="/api/myOrderGoPay?orderId="+id;
			};
			/*点击取消订单*/
			$scope.removePay=function(id) {
					$http.post("/alipay/refund?orderNo="+id).success(
							//添加后直接跳转到支付页面
							function(response) {
								func("订单取消成功","#999999");
								/*重新刷新一下页面数据*/
								$scope.findAll();
								// location.href = "/api/myorder";
							}
					)
			};
			/*点击删除订单*/
			$scope.goDel=function(id){
				$http.get("/api/delOrder?orderId="+id).success(
						//添加后直接跳转到支付页面
						function(response) {
							func(response,"#999999");
							/*重新刷新一下页面数据*/
							$scope.findAll();
						}
				)
			};
			/*保存评论*/
			/*先查询该订单出来*/
			$scope.comment={};
			$scope.goSelect=function(id){
				$http.get("/api/selectOrderById?orderId="+id).success(
						//添加后直接跳转到支付页面
						function(response) {
							$scope.comment.orderId=response.orderId;
							$scope.comment.houseId=response.housesId;
							$scope.comment.userId=response.passengerId;
							$scope.comment.commentType="房源评价";
						}
				)
			};
			$scope.goComment=function(){
				/*从star.js传值过来的*/
				$scope.comment.commentPower=iScore;
				$http.post("/api/addComment",$scope.comment).success(
						//添加后直接跳转到支付页面
						function(response) {
							alert("订单评价成功");
							// func("订单评价成功","#999999");
							/*重新刷新一下页面数据*/
							// $scope.findAll();
							location.href = "/api/myorder";
						}
				)}
			/*图片上传*/
			var dragImgUpload = new DragImgUpload("#drop_area",{
				callback:function (files) {
					//回调函数，可以传递给后台等等
					var file = files[0];
					var form = new FormData();
					form.append('file', file);
					$http({
						method:'POST',
						url:"/api/addPhoto",
						data: form,
						headers: {'Content-Type':undefined},
						transformRequest: angular.identity
					}).success( function ( response ){
						$scope.comment.commentPhoto=response;
					}).error(function (data) {
						func("添加失败","#999999");
					});
				}
			});

		});
	</script>
	<!--自动消失的弹出提示信息-->
	<script th:inline="javascript">
	var results = [[${msg}]];
	if (results!=null) {
	// alert(results);
	func(results,"#999999");
	}
	</script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()" style="font-size: 12px;">
<div id="Welcome">
	<!---Start navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="/images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" th:if="${session.user}==null">
					<a class="nav-link" href="/index">首页</a>
				</li>
				<li class="nav-item" th:if="${session.user}!=null">
					<a class="nav-link" th:href="'/api/success?users=user&username='+${session.user.username}">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/api/select/houserlease">民宿</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/api/select/userDynamic">动态</a>
				</li>
				<li class="nav-item" ng-repeat="menu in menuList">
					<a class="nav-link" href="{{menu.menuRequest}}">{{menu.menuProcince}}</a>
				</li>
				<li class="nav-item" style="width: 150px">
					<ul class="nav nav-pills">
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#myself" aria-haspopup="true"  aria-expanded="false" style="text-decoration: none; width: 160px" >
								<img th:if="${session.user.getUserBackup2()}!=null" th:src="${session.user.getUserBackup2()}" class="radius-circle rotate-hover" height="15" alt="">
								<img th:if="${session.user.getUserBackup2()}==null" src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="">
								<span th:text="${session.user.getRealName()}" style="width: 150px"></span>
							</a>
							<ul class="dropdown-menu" style="display:none; min-width: 80px; left: 10px;">
								<li><a style="text-decoration: none;" th:href="'myself?users=user&userId='+${session.user.getUserId()}">个人中心</a></li>
								<li><a href="/api/loginOut" style="color: #ff5500;text-decoration: none;">退出</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!--- End Navigation Bar -->
<div class="container" style="width: 100%;margin-top: 45px;">
	<!--- Restaurant-->
	<figure class="tabBlock">
		<ul class="tabBlock-tabs">
			<li class="tabBlock-tab is-active">全部({{orderAllNum}})</li>
			<li class="tabBlock-tab">待付款({{orderNotPayNum}})</li>
			<li class="tabBlock-tab">待入住({{orderNotInNum}})</li>
			<li class="tabBlock-tab">待评价({{orderCommentNum}})</li>
		</ul>
		<div class="tabBlock-content">
			<div class="tabBlock-pane">
				<div ng-repeat="all in orderAll">
					<div style="background: #e9ecef;padding: 1em;border-radius: 2%;margin-top: 5px;">
						<div style="padding: 4px;">
							<a ng-click="select(all.housesDTO.housesId)"><img src="/images/fanzi.png" alt="" style="width: 30px;height: 30px;"/><label>{{all.housesDTO.housesTitle}}</label></a>
						</div>
						<div style="width: 20%;float: left;">
							<img src="{{all.housesDTO.housesPhoto}}" style="width: 100px;height:100px;float: left;border-radius: 2%;">
						</div>
						<div style="width: 80%;float: left;">
						<h5>入住时间:{{all.startTime}}</h5>
						<h5>退租时间:{{all.endTime}}</h5>
						<h5>单价:{{all.onlyPrices}}元/天&nbsp&nbsp&nbsp需支付:{{all.orderPrices}}元</h5>
						<h5>入住:{{all.pepoleNum}}人</h5>
						<h5>支付状态:{{all.orderPay}}&nbsp&nbsp&nbsp入住状态:{{all.housesIn}}</h5>
						</div>
						<button ng-click="goDel(all.orderId)" style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;">删除订单</button>
						<button ng-if="all.housesIn=='未入住'" ng-show="all.orderPay!='已退款'" ng-click="removePay(all.orderId)" style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;">取消订单</button>
						<button ng-if="all.orderPay=='未支付'" ng-click="goPay(all.orderId)" style="border: none;border-radius: 4%;color: white;background-color: red;width: 60px;height: 20px;">去支付</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-show="all.orderPay=='已支付'" ng-if="all.housesIn=='未入住'">待入住</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-if="all.housesIn=='已入住'">进行中</button>
						<button ng-if="all.housesIn!='未入住'" ng-click="goSelect(all.orderId)" ng-show="!all.isComment" data-toggle="modal" data-target="#myModal"  style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;">去评价</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-if="all.housesIn=='已退宿'" ng-show="all.isComment" >已评价</button>
					</div>
				</div>
			</div>
			<div class="tabBlock-pane">
				<div ng-repeat="notPay in orderNotPay">
					<div style="background: #e9ecef;padding: 1em;border-radius: 2%;margin-top: 5px;">
						<div style="padding: 4px;">
							<a ng-click="select(notPay.housesDTO.housesId)"><img src="/images/fanzi.png" alt="" style="width: 30px;height: 30px;"/><label>{{notPay.housesDTO.housesTitle}}</label></a>
						</div>
						<div style="width: 20%;float: left;">
							<img src="{{notPay.housesDTO.housesPhoto}}" style="width: 100px;height:100px;float: left;border-radius: 2%;">
						</div>
						<div style="width: 80%;float: left;">
							<h5>入住时间:{{notPay.startTime}}</h5>
							<h5>退租时间:{{notPay.endTime}}</h5>
							<h5>单价:{{notPay.onlyPrices}}元/天&nbsp&nbsp&nbsp需支付:{{notPay.orderPrices}}元</h5>
							<h5>入住:{{notPay.pepoleNum}}人</h5>
							<h5>支付状态:{{notPay.orderPay}}&nbsp&nbsp&nbsp入住状态:{{notPay.housesIn}}</h5>
						</div>
						<button ng-click="goDel(notPay.orderId)" style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;">删除订单</button>
						<button style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;" ng-click="removePay(notPay.orderId)">取消订单</button>
						<button ng-click="goPay(notPay.orderId)" style="border: none;border-radius: 4%;color: white;background-color: red;width: 60px;height: 20px;">去支付</button>
					</div>
				</div>
			</div>
			<div class="tabBlock-pane">
				<div ng-repeat="notIn in orderNotIn">
					<div style="background: #e9ecef;padding: 1em;border-radius: 2%;margin-top: 5px;">
						<div style="padding: 4px;">
							<a ng-click="select(notIn.housesDTO.housesId)"><img src="/images/fanzi.png" alt="" style="width: 30px;height: 30px;"/><label>{{notIn.housesDTO.housesTitle}}</label></a>
						</div>
						<div style="width: 20%;float: left;">
							<img src="{{notIn.housesDTO.housesPhoto}}" style="width: 100px;height:100px;float: left;border-radius: 2%;">
						</div>
						<div style="width: 80%;float: left;">
							<h5>入住时间:{{notIn.startTime}}</h5>
							<h5>退租时间:{{notIn.endTime}}</h5>
							<h5>单价:{{notIn.onlyPrices}}元/天&nbsp&nbsp&nbsp需支付:{{notIn.orderPrices}}元</h5>
							<h5>入住:{{notIn.pepoleNum}}人</h5>
							<h5>支付状态:{{notIn.orderPay}}&nbsp&nbsp&nbsp入住状态:{{notIn.housesIn}}</h5>
						</div>
						<button ng-click="goDel(notIn.orderId)" style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;">删除订单</button>
						<button style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;" ng-click="removePay(notIn.orderId)">取消订单</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-if="notIn.housesIn=='已入住'">进行中</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-if="notIn.housesIn!='已入住'">待入住</button>
						<!--<button style="border: none;border-radius: 4%;color: white;background-color: orange">入住民宿</button>-->
					</div>
				</div>
			</div>
			<div class="tabBlock-pane">
				<div ng-repeat="comment in orderComment">
					<div style="background: #e9ecef;padding: 1em;border-radius: 2%;margin-top: 5px;">
						<div style="padding: 4px;">
							<a ng-click="select(comment.housesDTO.housesId)"><img src="/images/fanzi.png" alt="" style="width: 30px;height: 30px;"/><label>{{comment.housesDTO.housesTitle}}</label></a>
						</div>
						<div style="width: 20%;float: left;">
							<img src="{{comment.housesDTO.housesPhoto}}" style="width: 100px;height:100px;float: left;border-radius: 2%;">
						</div>
						<div style="width: 80%;float: left;">
							<h5>入住时间:{{comment.startTime}}</h5>
							<h5>退租时间:{{comment.endTime}}</h5>
							<h5>单价:{{comment.onlyPrices}}元/天&nbsp&nbsp&nbsp需支付:{{comment.orderPrices}}元</h5>
							<h5>入住:{{comment.pepoleNum}}人</h5>
							<h5>支付状态:{{comment.orderPay}}&nbsp&nbsp&nbsp入住状态:{{comment.housesIn}}</h5>
						</div>
						<button ng-click="goDel(comment.orderId)" style="border: none;border-radius: 4%;color: white;width: 60px;height: 20px;">删除订单</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-show="!comment.is_comment" ng-click="goSelect(comment.orderId)" data-toggle="modal" data-target="#myModal">去评价</button>
						<button style="border: none;border-radius: 4%;color: white;background-color: orange;width: 60px;height: 20px;" ng-show="comment.is_comment">已评价</button>
					</div>
				</div>
			</div>
		</div>
	</figure>
	<!--- End of Restaurant -->
</div>
</div>
<script>
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').focus()
	})
</script>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	       <div class="modal-content">
	           <div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">请填写评价信息</h5>
	               	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	           </div>
	<!--       <div class="modal-body">-->
				<div>
					<div style="margin-top: 20px;padding: 1em;">
						<label>评价内容</label><br/>
						<textarea cols="50" rows="5" ng-model="comment.commentContent"></textarea>
						<!--<input type="text" style="border: none;width: 100%;height: 50px;background-color: gainsboro;"/>-->
					</div>
					<div style="margin-top: 10px;padding: 1em;">
						<!--星星评分-->
						<span>请为我们的房源打分</span>
						<div id="score">
							<ul class="clearfix" style="margin-left:1px;">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<p><strong></strong></p>
							<div id="tip">
								<strong>1星,非常糟糕</strong>
								<div class="triangle"></div>
								<div class="triangle_outer"></div>
							</div>
						</div>
					</div>
					<div style="margin-top: 10px;padding: 1em;">
					<form action="" >
						<div style="padding: 1em;">评价图片</div>
						<div class="field">
							<div id="drop_area"></div>
						</div>
						<!--<div onclick="clickfile()" class="file_box1" style="float: left;">-->
							<!--+-->
							<!--<input type="file" id="file_input1" onchange="changefile(files)">-->
						<!--</div>-->

						<!--<input type="file" class="button border-main icon-plus-square-o" value="上传评价照片"/>-->
					</form>
					</div>
					<div style="margin-top: 10px;padding: 1em;">
						<!-- data-toggle="modal" data-target="#myModal"  -->
						<input type="submit" ng-click="goComment()" value="保存评价" style="border: orange;width: 100%;text-align: center;height: 30px;background-color: orange">
					</div>
				</div>


	    </div>
	  </div>
</div>
<!--自定义上传图片样式-->
<!--<script>-->
	<!--function clickfile() {-->
		<!--document.getElementById('file_input1').click();-->
	<!--}-->
	<!--function changefile(files) {-->
		<!--console.log(files);-->
	<!--}-->
<!--</script>-->
<!--星星评分js-->
<script src='/js/star.js'></script>
</body>
</html>
