<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="/css/aos.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<title>小智民宿</title>
<link rel="icon" href="/images/logo.png">
	<script>
		$('#myModal').on('shown.bs.modal', function () {
			$('#myInput').focus()
		})

	</script>

	<!--模态框脚本end-->
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		       <div class="modal-content">
		           <div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">修改头像</h4>
		 					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		           </div>
		           <div class="modal-body">
						<!--显示开始-->
						<div class="container">
							<div class="imageBox">
								<!--<div class="thumbBox"></div>-->
								<div class="spinner" style="display: none">Loading...</div>
							</div>
							<div class="action">
								<form method="post" enctype="multipart/form-data" class="form-x" action="/api/upload?users=user">
									<!-- <input type="file" id="file" style=" width: 200px">-->
									<div class="new-contentarea tc">
										<a href="javascript:void(0)" class="upload-img">
											<label for="upload-file">上传头像</label>
										</a>
										<input type="file" class="" name="upload-file" id="upload-file" />
										<input type="hidden" name="userId" th:value="${user.getUserId()}" />
									</div>
									<input type="button" class="Btnsty_peyton" data-dismiss="modal" value="取消">
									<input type="submit" id="btnCrop"  class="Btnsty_peyton" value="保存">
									<!--<input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
									<input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >-->
								</form>
							</div>
							<!--   <div class="cropped"></div> -->
						</div>
						<!--显示end-->
						</div>
		       </div>
		   </div>
	</div>
	<!--model end-->
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="Welcome">
	<!---Start navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="../images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">首页</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">民宿服务</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">最新动态</a>
				</li>
				<li class="nav-item" style="width: 150px">
					<ul class="nav nav-pills">
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#myself" aria-haspopup="true"  aria-expanded="false" style="text-decoration: none; width: 160px" >
								<img th:if="${user.getUserBackup2()}!=null" th:src="${user.getUserBackup2()}" class="radius-circle rotate-hover" height="15" alt="">
								<img th:if="${user.getUserBackup2()}==null" src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="">
								<span th:text="${user.getRealName()}" style="width: 150px"></span>
							</a>
							<ul class="dropdown-menu" style="display:none; min-width: 80px; left: 10px;">
								<li><a style="text-decoration: none;" th:href="'myself?users=user&userId='+${user.getUserId()}">个人中心</a></li>
								<li><a href="/api/loginOut" style="color: #ff5500;text-decoration: none;">退出</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!--- End Navigation Bar -->
<div class="container" style="width: 100%;margin-top: 45px;margin-left: 20%">
	<!--- Restaurant-->
	<div class="row" id="myself">
		<div class="col navMenu">
			<h2 class="text-center" style="font-size: 25px;">个人中心</h2>
		</div>
	</div>
	<div class="row bg-light" >

		<div class="col-md-6" data-aos="fade-up" >
			<a data-toggle="modal" data-target="#myModal" title="修改头像">
			<div th:if="${user.getUserBackup2()}!=null">
				<img th:src="${user.getUserBackup2()}" alt="图片" style="width: 80%;height: 60%;border-radius: 10%;text-align: center">
			</div>
			<div th:if="${user.getUserBackup2()}==null">
				<img src="/images/y.jpg" style="width: 100%;height: 80%;border-radius:10%;text-align: center;">
			</div>
			<!--修改头像-->
			</a>
		</div>
		<div class="col-md-6">
			<form action="/api/updateUserInfo?users=user" method="post" style="height: 100%;">
				<input type="hidden" name="userId" th:value="${user.getUserId()}"/>
			<h5 style="font-size: 25px;margin-top: 10px;">用户账号：<input type="username" name="username" th:value="${user.getUsername()}" /> </h5>
			<h5 style="font-size: 25px;margin-top: 10px;">用户密码：<input type="password" name="password" th:value="${user.getPassword()}" /> </h5>
			<h5 style="font-size: 25px;margin-top: 10px;">真实姓名：<input type="text" name="realName" th:value="${user.getRealName()}" /></h5>
			<h5 style="font-size: 25px;margin-top: 10px;">电话号码：<input type="text" name="userTel" th:value="${user.getUserTel()}" /></h5>
			<h5 style="font-size: 25px;margin-top: 10px;">电子邮箱：<input type="text" name="userEmil" th:value="${user.getUserEmil()}" /></h5>
			<h5 style="font-size: 25px;margin-top: 10px;">家庭住址：<input type="text" name="userBackup1" th:value="${user.getUserBackup1()}" /></h5>
			<h5 style="font-size: 25px;margin-top: 10px;"><input type="hidden" name="userPower" th:value="${user.getUserPower()}"/></h5>
			<h5>
			<input type="submit" class="Btnsty_peyton" style="float: none;margin-top:20%; text-align: center;width: 70%;height: 50px;background-color: #00aaee" value="保存"/>
			</h5>
			</form>
		</div>
	</div>
	<!--- End of Restaurant -->
</div>

	<!--图片处理-->
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/cropbox.js"></script>
	<script type="text/javascript" th:inline="javascript">
		$(window).load(function() {
			var img1= [[${user.getUserBackup2()}]]
			var options =
					{
						thumbBox: '.thumbBox',
						spinner: '.spinner',
						imgSrc: img1
					}
			var cropper = $('.imageBox').cropbox(options);
			$('#upload-file').on('change', function(){
				var file = this.files[0];
				if (file.type.indexOf("image") == 0) {
					var reader = new FileReader();
					reader.onload = function(e) {
						options.imgSrc = e.target.result;
						cropper = $('.imageBox').cropbox(options);
					}
					reader.readAsDataURL(this.files[0]);
					this.files = [];
				}else {
					alert("请选择图片")
				}

			})
			$('#btnCrop').on('click', function(){
				var img = cropper.getDataURL();
				/*alert(cropper.getDataURL());*/
				/*裁剪后的数据位置*/
				/*$('.cropped').html('');*/
				/*$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');*/
				/*$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');*/
				// $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');

			})
			$('#btnZoomIn').on('click', function(){
				cropper.zoomIn();
			})
			$('#btnZoomOut').on('click', function(){
				cropper.zoomOut();
			})
		});
	</script>
	<!--end-->
<!--<script src="../js/jquery-3.3.1.min.js"></script>-->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script defer src="/js/all.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/smooth-scroll.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript" src="/js/image-effect.js"></script>

</div>
</body>
</html>
