body{
	 font-family: 'Merienda';font-size: 15px;
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active{
	background-color: lightgrey !important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 450px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}
.footer{
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon{
	font-size:28px;
}

footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
}
/*裁剪圖片插件*/
@charset "utf-8";
.container {
	width: 400px;
	margin: 40px auto 0 auto;
	position: relative;
	font-family: 微软雅黑;
	font-size: 12px;
}
.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 400px;
	height: 30px;
	margin: 10px 0;
}
.cropped {
	position: absolute;
	right: -230px;
	top: 0;
	width: 200px;
	border: 1px #ddd solid;
	height: 460px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	position: relative;
	height: 400px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{ float: right;
	width: 66px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	margin:0px 2px;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 0px 5px #B0B0B0;
	border: 0px #fff solid;}
/*选择文件上传*/
.new-contentarea {
	width: 165px;
	overflow:hidden;
	margin: 0 auto;
	position:relative;float:left;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:188px;
	height:60px;
	background:#333;
	margin: 0 auto;
	position:absolute;
	right:50%;
	margin-right:-94px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}
a.upload-img{
	width:165px;
	display: inline-block;
	margin-bottom: 10px;
	height:57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}
a.upload-img:hover{
	background-color: #ec7e70;
}

.tc{text-align:center;}
/*www.jq22.com*/


/*myself*/
/*房屋详情页面的固定*/
.h_top{
	width: 100%;
	background: #e9ecef;
	float: right;
    border: #9fcdff;
}
.prices{
	float: left;
	margin-left: 10px;
	width: 100%;
	margin-top: 20px;
	font-size: 28px;
}
.price input[type=submit]{
    border: none;
    background: #ec7e70;
    color: white;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inp{
	float: left;
	margin-left: 20px;
	width: 110px;
	padding: 1em;
}
.inp label{
	width: 80px;
	text-align: center;
}
.inp input[type=date]{
	width: 120px;
	height: 30px;
	border: none;
	text-align: center;
}
.inp select{
	width: 80px;
	height: 30px;
	border: none;
	text-align: center;
}
.inp select option{
	width: 80px;
	height: 30px;
	border: none;
	text-align: center;
}
/*房东详情固定*/
.u_top{
    width: 100%;
    background: #e9ecef;
    float: right;
    margin-top:20px;
    border: #bee5eb;
    border-top-width: 10px;
}
.u_top input[type=submit]{
    border-style: solid;
    border-width: 1px;
    background: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.u_top label{
    margin-left: 10px;
    margin-top: 10px;
}

.u_top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10px;
}
/*整体固定框框*/
.hu_top{
    width: 25%;
    background: white;
    position: fixed;
    float: right;
    margin-left: 60%;
    margin-top:90px;
    top: 0;
}
/*详情页评论查看*/
.comment{
	width: 100%;
	background-color: #e9ecef;
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 2%;
}
.comment .context{
	margin-left: 10px;
	padding: 1em;
}
.comment .photo img{
	margin-left: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;

}
.comment img{
	border-radius: 2%;
	padding: 1em;
}

/*首页搜索样式*/
.select{
	margin-left: 3%;
}
.select input[type=text]{
	height: 30px;
	width: 140px;
	border: #5a6268;
}
.select input[type=date]{
	height: 30px;
	width: 120px;
	border: #5a6268;
}
.select button{
	border: none;
	height: 30px;
	width: 70px;
}
.select select{
	height: 30px;
	width: 90px;
	border: #5a6268;
}
