<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!--<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>-->
<link href="css/aos.css" rel="stylesheet">

<title>小智民宿</title>
<link rel="icon" href="images/logo.png">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="Welcome">
	<!---Start navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="index.html">首页</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="index.html#Menu">民宿服务</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="index.html#Restaurant">最新动态</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Reservation">关于我们</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#OurLocation">联系我们</a>
				</li>
				<li class="nav-item">
					<a href="/indexToLogin"  class="nav-link">登录</a>
					
				</li>
				<li class="nav-item">
					<a href="/indexToRegister" class="nav-link">注册</a>
				</li>
			</ul>
		</div>
	</nav>
	<!--- End Navigation Bar -->

</div>
	<!--- End of Carousel -->
	
<div class="container">
		
	<!--- Start of Reservation-->
	<div class="row" id="Reservation">
		<div class="col navMenu">
			<h2 class="text-center">~ 关于我们 ~</h2>
		</div>
	</div>
	<div class="row">
		<div class=" col-lg-12 reserve-container" data-aos="fade-up">
			<img class="img-fluid image-reserve" src="images/reserve.jpg">
			<div class="reserve-text col-lg-12 ">
				<h1 class="text-center">为自己生活添点彩~</h1>
				<div class="row">
					<div class="col-6">
						<h2 class="text-center">此刻</h2>
						<h5 class="text-center">你行动了吗？</h5>
					</div>
					<div class="col-6">
						<h2 class="text-center">未来</h2>
						<h5 class="text-center">你计划了吗？</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row bg-light">
		<div class="col">
			<form>
				<div class="form-row">
					<div class="form-group col-6">
						<h3>公司简介</h3>
						<label> 这是一个完美的公司</label>
						
					</div>
					<div class="form-group col-6">
						<h3>目前主要负责人</h3>
						<label> 姓名：黄先生</label>
						<p>电话：11110001010</p>
						<p>邮箱：11@mam.com</p>
					</div>
				</div>
				<div class="row">
					<!-- 占位 -->
				</div>
			</form>
		</div>
	</div>
	<!--- End of Reserve -->
	<!--- Start of Our Location -->
	<div class="row" id="OurLocation">
		<div class="col navMenu">
			<h2 class="text-center">~ 联系我们 ~</h2>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-3">
			<h3>地址:</h3>
			<p>广东省湛江市岭南师范学院</p>
			<h3>邮箱:</h3>
			<p>yellowz@qq.com</p>
		</div>
	</div>
	<!--- End of Our Location -->
	<div class="row footer bg-light">
		<div class="col">
			
		</div>
		<div class="col">
			<p class="text-center">yellowz &zcy; 2019.11.24.<a target="_blank" href="#">huangrunzhi</a></p>
		</div>
		<div class="col">
			<p class="text-center"></p>
		</div>
	</div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script defer src="js/all.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script src="js/aos.js"></script>
<script type="text/javascript" src="js/image-effect.js"></script>
</body>
</html>
