<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
<link href="/css/aos.css" rel="stylesheet">

	<!--<script src="../js/jquery.js"></script>-->
<title>小智民宿</title>
<link rel="icon" href="/images/logo.png">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/my/show.js"></script><!--自编弹出显示-->
	<script src="/js/angular.min.js"></script>
	<script>
		var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
		//定义控制器
		app.controller('myController',function($scope,$http){
			$scope.findAll=function(){
				$http.get('/api/select/findAllHouses').success(
						function(response){
							$scope.housesList=response;
						}
				)
                /*轮播图查看*/
                $http.get('/api/select/oldSlide').success(
                    function(response){
                        $scope.slideList=response;
                    }
                )
				/*查看房源类型*/
				$http.get('/api/select/getHousesType?name=房源类型').success(
						function(response){
							$scope.housesType=response;
						}
				)/*查看房源类型*/
				$http.get('/api/select/getHousesType?name=入住房客数').success(
						function(response){
							$scope.peopleNum=response;
						}
				)
				/*最新动态*/
				$http.get('/api/select/articleList').success(
						function(response){
							$scope.articleList=response;
						}
				)
                /*查询菜单*/
                /*获取菜单*/
                $http.get('/api/getMenuList').success(
                    function(response){
                        $scope.menuList=response;
                    }
                )
			};
			/*查看详情*/
			$scope.select=function(id) {
				if (id==null){
					func("该轮播仅为一个普通图片广告并无对应房源详情","#999999");
				} else {
					location.href="/api/select/findHousesById?houserId="+id;
				}

			};
			$scope.show=true;
			// $scope.housesVO = {};
			$scope.selectHousesVO=function(){
				$http.post("/api/select/selectHousesByCondition",$scope.housesVO).success(
						function(response){
							$scope.housesList=response;
							$scope.show=false;
						}
				)};
			/*立即预定按钮*/
			$scope.reserve=function(id){
				location.href="/api/reserveHouses?houserId="+id;
				// location.href="/api/gopay";

			};
			/*模态框的预订功能*/
			$scope.re=function(id){
				$http.get('/api/getHomeShowById?houserId='+id).success(
						function(response){
							$scope.housesId=response.housesId;
							// alert($scope.housesId);
							$scope.housesOnlyprice=response.housesPrices;
							// alert($scope.housesOnlyprice);
						}
				)
			}
			/*预定*/
			$scope.reserves=function(id){
				var dt = doTable();
				if(dt){
					// location.href="/api/select/reserveHouses?houserId="+id;
					$scope.orderList.orderPrices=$scope.priceAll;
					$scope.orderList.housesId=$scope.housesId;
					$http.post("/api/reserveHouses",$scope.orderList).success(
							//添加后直接跳转到支付页面
							function(response){
								location.href="/api/gotoPagePay";
								// $scope.housesList=response;
								// $scope.show=false;
							})
				}
				else {
					alert("填写信息错误或者信息出错！");
				}
			};
			$scope.priceShow=false;
			/*校验预定*/
			$(function() {
				/*验证限制提交订单前算出总价显示*/
				/*失去焦点的时候执行*/
				$("input[name=startday]").blur(function () {startday();	});
				$("input[name=endday]").blur(function () {
					endday();
					var dt = doTable();
					if(dt==true){
						var dateSpan,tempDate1,tempDate2,iDays;
						tempDate1 = Date.parse($scope.orderList.endTime);
						tempDate2 = Date.parse($scope.orderList.startTime);
						dateSpan = tempDate1 - tempDate2;
						dateSpan = Math.abs(dateSpan);
						iDays = Math.floor(dateSpan / (24 * 3600 * 1000));
						$scope.iDays=iDays+1
						$scope.priceAll=(iDays+1)*($scope.housesOnlyprice);
						// alert("时间："+$scope.priceAll);
						$scope.priceShow=true;
					}
				});
			});
			function startday(){
				if($scope.orderList.startTime==null){
					alert("开始时间不能为空");
					return false;
				}
				// alert($scope.orderList.startTime);
				return true
			}
			function endday(){
				if($scope.orderList.endTime!=null){
					// alert($scope.orderList.endTime);
					// alert("退租时间不能为空");
					if($scope.orderList.startTime>$scope.orderList.endTime){
						alert("退租时间不能在入住时间前面");
						return false;
					}
				}else {
					return false;
				}
				return true
			}
			function doTable(){
				var sd = startday();
				// var lo = doOnlyname();
				var ed = endday();
				if(sd&&ed){
					return true;
				}else{
					return false;
				}
			}
		});
	</script>
	<!--自动消失的弹出提示信息-->
	<script th:inline="javascript">
		var results = [[${msg}]];
		if (results!=null) {
			//alert(results)
			func(results,"#999999");
		}
	</script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div id="Welcome">
	<!--Start navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="../images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!--搜索栏-->
		<div class="select">
			<input type="text" placeholder="你想去哪里？" ng-model="housesVO.housesAddress">
			入住:<input type="date" ng-model="housesVO.startTime">
			退租:<input type="date" ng-model="housesVO.endTime">
			<select name="housesFalgs" ng-model="housesVO.peopleNum">
				<option value="{{num.name}}" ng-repeat="num in peopleNum">{{num.name}}位房客</option>
			</select>
			<select name="housesFalgs" ng-model="housesVO.typeId">
				<option value="{{type.dictId}}" ng-repeat="type in housesType">{{type.name}}</option>
			</select>
			<button ng-click="selectHousesVO()">搜索</button>
		</div>
		<!--菜单-->
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#Welcome">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Menu">民宿预定</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Restaurant">最新动态</a>
				</li>
				<li class="nav-item" ng-repeat="menu in menuList">
					<a class="nav-link" href="{{menu.menuRequest}}">{{menu.menuProcince}}</a>
				</li>
				<!--<li class="nav-item">-->
					<!--<a class="nav-link" href="#OurLocation">联系我们</a>-->
				<!--</li>-->
				<li class="nav-item" th:if="${user}==null">
					<a href="/api/indexToLogin"  class="nav-link">登录</a>
				</li>
				<li class="nav-item" th:if="${user}==null">
					<a href="/api/indexToRegister" class="nav-link">注册</a>
				</li>
				<li class="nav-item" style="width: 150px" th:if="${user}!=null">
					<ul class="nav nav-pills">
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true"  aria-expanded="false" style="text-decoration: none; width: 160px" >
								<!--<img src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="" />-->
								<img th:if="${user.getUserBackup2()}!=null" th:src="${user.getUserBackup2()}" class="radius-circle rotate-hover" height="15" alt="">
								<img th:if="${user.getUserBackup2()}==null" src="/images/y.jpg" class="radius-circle rotate-hover" height="15" alt="">
								<span th:text="${user.getRealName()}" style="width: 150px"></span>
							</a>
							<ul class="dropdown-menu" style="display:none; min-width: 80px; left: 10px;">
								<li><a style="text-decoration: none;" th:href="'myself?users=user&userId='+${user.getUserId()}">个人中心</a></li>
								<li><a href="/api/loginOut" style="color: #ff5500;text-decoration: none;">退出</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<!--<li class="nav-item">-->
					<!--<a href="/api/test" class="nav-link">测试</a>-->
				<!--</li>-->
			</ul>
		</div>
	</nav>
	<!-- End Navigation Bar -->
	<!--Start 轮播-->
	<div ng-show="show">
		<div id="box">
			<!-- 这里的图片可以用一个for循环动态成多个li就可以了 -->
			<ul id="picBox">
				<li class="sPic" ng-repeat="img in slideList">
					<a ng-click="select(img.houseId)">
						<!--<p style="position: absolute;font-size: 40px;color: white">{{img.houseTilte}}</p>-->
						<img src="{{img.slideUrl}}"/>
					</a>
				</li>
			</ul>
			<div class="bn" id="before"></div>
			<div class="bn" id="next"></div>
			<!--右下角的几个点-->
			<ul id="btnBox">
				<li class="picBtn" ng-repeat="img in slideList"></li>
			</ul>
		</div>
	</div>
</div>
<div ng-if="!show" style="margin-top: 100px;"></div>
	<!--End of Carousel-->
<div class="container" style="width: 100%;">
	<div class="row bg-light" id="Menu">
		<div class="col-md-4" data-aos="slide-up" ng-repeat="house in housesList">
			<div class="card view zoom" style="margin-top: 10px;">
				<img class="card-img-top img-fluid " src="{{house.housesPhoto}}" style="width: 100%;height: 100%;">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item" style="background: rgba(255,255,255,0.3);">
							<span style="font-size: 15px;"><img src="/images/home.png">{{house.housesTitle}}</span><br>
							<span>
							<img src="/images/map.png" style="width: 15px;height: 15px;">{{house.housesAddress}}
							<img src="/images/see.png">{{house.housesView}}
							<img src="/images/prices.png">{{house.housesPrices}}元/天
							</span><br>
							<span>
								<img src="/images/shouchang.png">
								<img src="/images/shouchang.png">
								<img src="/images/shouchang.png"><!--评分等级-->
								<button th:if="${user}==null" ng-click="reserve(house.housesId)" style="float: right;background-color: orange;border: none;margin-left: 10px;margin-top: 5px;" >立即预定</button>
								<button th:if="${user}!=null" ng-click="re(house.housesId)" data-toggle="modal" data-target="#myModal" style="float: right;background-color: orange;border: none;margin-left: 10px;margin-top: 5px;" >立即预定</button>
								<button ng-click="select(house.housesId)" style="float: right;border: none;background-color: #00aa00;margin-top: 5px;"> 查看详情</button>
							</span>
						</li><!--收藏量-->
					</ul>
				</div>
			</div>
		</div>
		<!--分页显示-->
	</div>
	<!--End of Menu-->
	<!--Restaurant-->
<div ng-if="show">
	<div class="row" id="Restaurant">
		<div class="col navMenu">
			<h5 class="text-center" >~ 最新动态 ~</h5>
		</div>
	</div>
	<div  ng-repeat="art in articleList">
	<!-- 显示右边的
	<div class="row bg-light" ng-if="false">
		<div class="col-md-6">
			<h3>{{art.articeTitle}}</h3>
			<p>{{art.articleInfo}}</p>
		</div>
		<div class="col-md-6" data-aos="fade-up">
			<img class="img-fluid" src="{{art.articeUrl}}">
		</div>
	</div>-->
	<div class="row bg-light"><br></div>
	<div class="row bg-light">
		<div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
			<img class="img-fluid " src="{{art.articeUrl}}">
		</div>
		<div class="col-md-6 order-md-12 order-1">
			<h5>{{art.articeTitle}}</h5>
			<p>作者:{{art.createUser}}&nbsp&nbsp&nbsp创作时间:{{art.createTime}}</p>
			<hr/>
			<p>{{art.articleInfo}}</p>
		</div>
	</div>
	<!--End of Restaurant-->
	</div>
</div>

	<!--- End of Our Location -->
	<div class="row footer bg-light" ng-if="show">
		<div class="col">
			
		</div>
		<div class="col">
			<p class="text-center">yellowz &zcy; 2019.11.24.<a target="_blank" href="#">huangrunzhi</a></p>
		</div>
		<div class="col">
			<p class="text-center"></p>
		</div>
	</div>
</div>
<script>
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').focus()
	})

</script>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	       <div class="modal-content">
	           <div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">请选择预定时间以及人数信息</h5>
	               <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	           </div>
	<!--       <div class="modal-body">-->
				<div>
					<div class="inp">
						<label>入住日期</label>
						<input type="date" name="startday" style="border: none;width: 120px;height: 30px;" value="年-月-日" ng-model="orderList.startTime"/>
					</div>
					<div class="inp">
						<label>退房日期</label>
						<input type="date" name="endday" style="border: none;width: 120px;height: 30px;" value="年-月-日" ng-model="orderList.endTime"/>
					</div>
					<div class="inp">
						<label>人数</label>
						<select ng-model="orderList.pepoleNum">
							<option value="1">1人</option>
							<option value="2">2人</option>
						</select>
					</div>
					<div ng-show="priceShow" style="margin-left: 30px;font-size: 20px;">
						<label>总价计算:单价*预订天数</label>
						<br>
						<label>需支付:{{priceAll}}</label>
					</div>
					<div class="price">
						<!-- data-toggle="modal" data-target="#myModal"  -->
						<input type="submit" ng-click="reserves()" value="确认预定">
					</div>
				</div>
	    </div>
	  </div>
</div>
<!--model end-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script defer src="/js/all.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/smooth-scroll.js"></script>
<script src="/js/aos.js"></script>
<script type="text/javascript" src="/js/image-effect.js"></script>
<!--轮播图js-->
<link href="/css/base.css" rel="stylesheet">
<script src="/js/lunbo.js"></script>
</body>
</html>

