<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
<link href="../css/aos.css" rel="stylesheet">
<title>小智民宿</title>
<link rel="icon" href="../images/logo.png">
	<script src="../js/jquery.min.js"></script>
	<script src="../js/my/show.js"></script><!--自编弹出显示-->
	<script src="../js/angular.min.js"></script>
	<script>
		var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
		//定义控制器
		app.controller('myController',function($scope,$http){
			$scope.findAll=function(){
				$http.get('/api/select/findAllHouses').success(
						function(response){
							$scope.housesList=response;
						}
				)
                /*轮播图查看*/
                $http.get('/api/select/oldSlide').success(
                    function(response){
                        $scope.slideList=response;
                    }
                )
				/*查看房源类型*/
				$http.get('/api/select/getHousesType?name=房源类型').success(
						function(response){
							$scope.housesType=response;
						}
				)/*查看房源类型*/
				$http.get('/api/select/getHousesType?name=入住房客数').success(
						function(response){
							$scope.peopleNum=response;
						}
				)
				/*最新动态*/
				$http.get('/api/select/articleList').success(
						function(response){
							$scope.articleList=response;
						}
				)
			};
			/*查看详情*/
			$scope.select=function(id) {
				location.href="/api/select/findHousesById?houserId="+id;
			};

		});
	</script>
	<!--自动消失的弹出提示信息-->
	<script th:inline="javascript">
		var results = [[${msg}]];
		if (results!=null) {
			//alert(results)
			func(results,"#999999");
		}
	</script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()">
<div id="Welcome">
	<!--Start navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="../images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!--搜索栏-->
		<div class="select">
			<input type="text" value="你想去哪里？">
			<input type="text" value="入住日期？">
			<select name="housesFalgs" class="input w50">
				<option>---入住房客---</option>
				<option value="{{num.dictId}}" ng-repeat="num in peopleNum">{{num.name}}位房客</option>
			</select>
			<select name="housesFalgs" class="input w50">
				<option>---房源类型---</option>
				<option value="{{type.dictId}}" ng-repeat="type in housesType">{{type.name}}</option>
			</select>
			<button ng-click="select(house.housesId)">搜索</button>
		</div>
		<!--菜单-->
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#Welcome">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Menu">民宿预定</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Restaurant">最新动态</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">关于我们</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html#Reservation">联系我们</a>
				</li>
				<li class="nav-item">
					<a href="/api/indexToLogin"  class="nav-link">登录</a>
				</li>
				<li class="nav-item">
					<a href="/api/indexToRegister" class="nav-link">注册</a>
				</li>
				<!--<li class="nav-item">-->
					<!--<a href="/api/test" class="nav-link">测试</a>-->
				<!--</li>-->
			</ul>
		</div>
	</nav>
	<!-- End Navigation Bar -->
	<!--Start lunBo-->
	<div id="box">
		<!-- 这里的图片可以用一个for循环动态成多个li就可以了 -->
		<ul id="picBox">
			<li class="sPic" ng-repeat="img in slideList">
				<a ng-click="select(img.houseId)">
					<!--<p style="position: absolute;font-size: 40px;color: white">{{img.houseTilte}}</p>-->
					<img src="{{img.slideUrl}}"/>

				</a>
			</li>
		</ul>
		<div class="bn" id="before"></div>
		<div class="bn" id="next"></div>
		<!--右下角的几个点-->
		<ul id="btnBox">
			<li class="picBtn" ng-repeat="img in slideList"></li>
		</ul>
	</div>
</div>

	<!--End of Carousel-->
<div class="container" style="width: 100%;">
	<div class="row bg-light" id="Menu">
		<div class="col-md-4" data-aos="slide-up" ng-repeat="house in housesList">
			<div class="card view zoom" style="margin-top: 10px;">
				<img class="card-img-top img-fluid " src="{{house.housesPhoto}}" style="width: 100%;height: 100%;">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item" style="background: rgba(255,255,255,0.3);">
							<span style="font-size: 15px;"><img src="/images/home.png">{{house.housesTitle}}</span><br>
							<span>
							<img src="/images/map.png" style="width: 15px;height: 15px;">{{house.housesAddress}}
							<img src="/images/see.png">{{house.housesView}}
							<img src="/images/prices.png">{{house.housesPrices}}元/天
							</span><br>
							<span>
								<img src="/images/shouchang.png">
								<img src="/images/shouchang.png">
								<img src="/images/shouchang.png"><!--评分等级-->
								<button style="float: right;background-color: orange;border: none;margin-left: 10px;margin-top: 5px;" >立即预定</button>
								<button ng-click="select(house.housesId)" style="float: right;border: none;background-color: #00aa00;margin-top: 5px;"> 查看详情</button>
							</span>
						</li><!--收藏量-->
					</ul>
				</div>
			</div>
		</div>
		<!--分页显示-->

	</div>
	<!--End of Menu-->
	<!--Restaurant-->
	<div class="row" id="Restaurant">
		<div class="col navMenu">
			<h2 class="text-center" >~ 最新动态 ~</h2>
		</div>
	</div>
	<div  ng-repeat="art in articleList">
	<!-- 显示右边的
	<div class="row bg-light" ng-if="false">
		<div class="col-md-6">
			<h3>{{art.articeTitle}}</h3>
			<p>{{art.articleInfo}}</p>
		</div>
		<div class="col-md-6" data-aos="fade-up">
			<img class="img-fluid" src="{{art.articeUrl}}">
		</div>
	</div>-->
	<div class="row bg-light"><br></div>
	<div class="row bg-light">
		<div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
			<img class="img-fluid " src="{{art.articeUrl}}">
		</div>
		<div class="col-md-6 order-md-12 order-1">
			<h3>{{art.articeTitle}}</h3>
			<p>作者:{{art.createUser}}&nbsp&nbsp&nbsp创作时间:{{art.createTime}}</p>
			<hr/>
			<p>{{art.articleInfo}}</p>
		</div>
	</div>
	<!--End of Restaurant-->
	</div>


	<div class="row footer bg-light">
		<div class="col">
			
		</div>
		<div class="col">
			<p class="text-center">yellowz &zcy; 2019.11.24.<a target="_blank" href="#">huangrunzhi</a></p>
		</div>
		<div class="col">
			<p class="text-center"></p>
		</div>
	</div>
</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script defer src="../js/all.js"></script>
<script type="text/javascript" src="../js/map.js"></script>
<script type="text/javascript" src="../js/smooth-scroll.js"></script>
<script src="../js/aos.js"></script>
<script type="text/javascript" src="../js/image-effect.js"></script>
<!--轮播图js-->
<link href="/css/base.css" rel="stylesheet">
<script src="../js/lunbo.js"></script>
</body>
</html>

