<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
<link href="css/aos.css" rel="stylesheet">
<title>小智民宿</title>
<link rel="icon" href="images/logo.png">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="Welcome">
	<!--Start navigation Bar-->
	<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
		<a class="navbar-brand" href="#Welcome">
			<img src="images/logo.jpeg" width="50" height="50" class="d-inline-block" alt=""> 小智民宿
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/api/test">购买</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Welcome">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Menu">民宿服务</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Restaurant">最新动态</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">关于我们</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html#Reservation">联系我们</a>
				</li>
				<li class="nav-item">
					<a href="/api/indexToLogin"  class="nav-link">登录</a>
				</li>
				<li class="nav-item">
					<a href="/api/indexToRegister" class="nav-link">注册</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- End Navigation Bar -->
	<!--Start Carousel-->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block img-fluid w-100 img-slider" src="images/slider1.jpg" alt="First slide">
				<div class="carousel-caption">
					<h2>神游假期从奇妙屋开始!</h2>
					<p>小智民宿服务区</p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100 img-fluid img-slider" src="images/slider2.jpg" alt="Second slide">
				<div class="carousel-caption">
					<h2>优质民宿，周末出逃，让心情放假!</h2>
					<p>小智民宿服务区</p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100 img-fluid img-slider" src="images/slider3.jpg" alt="Third slide">
				<div class="carousel-caption">
					<h2>品味繁华中的质朴温情!</h2>
					<p>小智民宿服务区</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

	<!--End of Carousel-->
<div class="container">
	<!--Start of Menu-->
	<div class="row" id="Menu">
		<div class="col navMenu">
			<h2 class="text-center" >~ 民宿服务 ~</h2>
		</div>
	</div>
	<div class="row bg-light">
		<div class="col-md-4" data-aos="slide-up">
			<div class="card view zoom">
				<img class="card-img-top img-fluid " src="images/meat-menu.jpg">
				<div class="card-body">
					<h5 class="card-title">~ 原野风光 ~</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">价格</li>
						<li class="list-group-item">描述</li>
						<li class="list-group-item">评分等级</li>
						<li class="list-group-item">预定量</li>
						<li class="list-group-item">收藏量</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4" data-aos="slide-up">
			<div class="card">
				<img class="card-img-top img-fluid " src="images/fish-menu.jpg">
				<div class="card-body">
					<h5 class="card-title">~ 客家民风 ~</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">价格</li>
						<li class="list-group-item">描述</li>
						<li class="list-group-item">评分等级</li>
						<li class="list-group-item">预定量</li>
						<li class="list-group-item">收藏量</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4" data-aos="slide-up">
			<div class="card">
				<img class="card-img-top img-fluid" src="images/menu-vegetarian.jpg">
				<div class="card-body">
					<h5 class="card-title">~ 质朴温情 ~</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">价格</li>
						<li class="list-group-item">描述</li>
						<li class="list-group-item">评分等级</li>
						<li class="list-group-item">预定量</li>
						<li class="list-group-item">收藏量</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--End of Menu-->
	<!--Restaurant-->
	<div class="row" id="Restaurant">
		<div class="col navMenu">
			<h2 class="text-center" >~ 最新动态 ~</h2>
		</div>
	</div>
	<div class="row bg-light" >
		<div class="col-md-6">
			<h3>周末出逃！</h3>
			<p>不要期待别人的微笑，其实你的微笑唯独对你最贴心。所以把最好的微笑留给自己，孤独时用。不过周末了，应该笑一个，给自己放假。祝福大家周末愉快！</p>
			<h5>让心情放假！</h5>
			<p>寂寂的清晨有微微的清风，微微的清风有丝丝的凉意，丝丝的凉意里有我轻轻的问候！愿我的问候能消除你酷暑的炎热，带给你一天的好心情！</p>
		</div>
		<div class="col-md-6" data-aos="fade-up">
			<img class="img-fluid" src="images/location.jpg">
		</div>
	</div>
	<div class="row bg-light"><br></div>
	<div class="row bg-light">
		<div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
			<img class="img-fluid " src="images/cuisine.jpg">
		</div>
		<div class="col-md-6 order-md-12 order-1">
			<h3>品味繁华中的质朴温情!</h3>
			<p>即便城市再繁华，如果没有取舍</p>
			<p>即便公园再靠近，如果没有驻足</p>
			<p>即便地铁再快捷，如果没有方向</p>
			<p>物质之后非物质</p>
			<p>即便城市再繁华，如果没有取舍</p>
		</div>
	</div>
	<!--End of Restaurant-->
	


	<div class="row footer bg-light">
		<div class="col">
			
		</div>
		<div class="col">
			<p class="text-center">yellowz &zcy; 2019.11.24.<a target="_blank" href="#">huangrunzhi</a></p>
		</div>
		<div class="col">
			<p class="text-center"></p>
		</div>
	</div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script defer src="js/all.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script src="js/aos.js"></script>
<script type="text/javascript" src="js/image-effect.js"></script>
</body>
</html>

