<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>民宿管理系统登录</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="dowebok">
        <form action="/api/addUser?falg=3" class="fm" method="post" onsubmit="return doTable()">
            <!--<div class="logo"></div>-->
            <div class="form-item" style="margin-top: 10px;text-align: center">
                <input name="username" type="text" autocomplete="off" placeholder="用户名">
                <span></span>
            </div>
            <div class="form-item" style="text-align: center">
                <input name="password" autocomplete="off" placeholder="登录密码">
                <span></span>
            </div>
            <div class="form-item" style="text-align: center">
                <input name="repass" autocomplete="off" placeholder="确认密码">
                <span></span>
            </div>
            <div class="form-item"><button type="submit" >注册</button></div>
            <div class="reg-bar">
                <a class="reg" href="/api/indexToLogin" style="text-align: center">已有账户</a>
            </div>
        </form>

        <!--from end-->
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/my/show.js"></script><!--自编弹出显示-->
    <script src="../js/angular.min.js"></script>
    <script type="text/javascript">
        /*表单验证*/
        var gets = true;//是否让表单提交
        $(function(){
            // 提示信息===========================================
            $("input[name=username]").focus(function(){
                if($(this).val() == this.defaultValue){
                    $(this).val('');
                }
            }).blur(function(){
                if($(this).val() == ''){
                    $(this).val(this.defaultValue);
                }
            });
            //当输入框失去焦点的时候，需要执行的方法
            $("input[name=username]").blur(function(){doLgname();});
            $("input[name=password]").blur(function(){doPassword();});
            $("input[name=repass]").blur(function(){doRepass();});
        });
        // 登陆名称的验证==========================
        function doLgname(){
            var t = $("input[name=username]");
            var span = t.next();
            if(/^\w{6,16}$/.test(t.val())){
                /*span.html("填写正确").css({color:"green",fontSize:"12px"});*/
                doOnlyname();
                return true;
            }else{
                // func("包含数字、字母、下划线，长度在6-16之间","#FFF")
                span.html("包含数字、字母、下划线，长度在6-16之间").css({color:"#ec4e4e",fontSize:"12px",display: "block"});
                return false;
            }
        }
        // 登陆名称唯一性的验证==========================
        function doOnlyname(){
            var t = $("input[name=username]");
            var span = t.next();
            $.ajax({
                type:"post",
                //发送请求的地址1
                url : "stu-exist",
                data : {"username" :t.val()},
                //服务器返回的数据类型
                dataType : "json",
                success : function(data) {
                    if(data==false){
                        span.html("填写正确").css({color:"green",fontSize:"12px"});
                        return true;
                    }else{
                        span.html("用户名已被注册").css({color:"#ec4e4e",fontSize:"12px",display: "block"});
                        return false;
                    }
                }
            })
        }

        // 密码的验证==========================
        function doPassword(){
            var t = $("input[name=password]");
            var span = t.next();
            if(t.val() == ''){
                span.html("密码不能为空").css({color:"#ec4e4e",fontSize:"12px",display: "block"});
                return false;
            }else{
                span.html('');
                if(/.{15,}/.test(t.val())){
                    span.html("密码长度不合法").css({color:"#ec4e4e",fontSize:"12px",display: "block"});
                    return false;
                }
                return true;
            }
        }
        // 确认密码的验证==========================
        function doRepass(){
            var t = $("input[name=repass]");
            var span = t.next();
            if(t.val() == $("input[name=password]").val() && t.val() != ''){
                span.html("填写正确").css({color:"green",fontSize:"12px"});
                return true;
            }else{
                span.html("两次密码不一致").css({color:"#ec4e4e",fontSize:"12px",display: "block"});
                return false;
            }
        }
        // 数据提交的时候执行的方法
        function doTable(){
            var lg = doLgname();
            // var lo = doOnlyname();
            var pass = doPassword();
            var repass = doRepass();
            if(lg&&pass&&repass){
                return true;
            }else{
                return false;
            }
        }

    </script>
    <!--自动消失的弹出提示信息-->
    <script th:inline="javascript">
        var results = [[${msg}]];
        if (results!=null) {
            //alert(results)
            func(results,"#999999");
        }
    </script>
</body>
</html>