<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsf.dao.ExamineLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnsf.entity.ExamineLogEntity">
        <id column="examine_id" property="examineId" />
        <result column="create_time" property="createTime" />
        <result column="houses_user" property="housesUser" />
        <result column="examine_status" property="examineStatus" />
        <result column="examine_reson" property="examineReson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        create_time,
        examine_id, houses_user, examine_status, examine_reson
    </sql>


    <select id="page" resultType="com.lnsf.entity.ExamineLogEntity">
        select * from examine_log t where t.delete_tag=0

        <if test="dto.housesUser !=null and dto.housesUser != ''">
            and t.houses_user like CONCAT('%',#{dto.housesUser},'%')
        </if>
        <if test="dto.examineStatus !=null and dto.examineStatus != ''">
            and t.examine_status like CONCAT('%',#{dto.examineStatus},'%')
        </if>
        <if test="dto.examineReson !=null and dto.examineReson != ''">
            and t.examine_reson like CONCAT('%',#{dto.examineReson},'%')
        </if>
    </select>
</mapper>
