<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnsf.dao.HomeshowMapper" >
  <resultMap id="BaseResultMap" type="com.lnsf.bean.Homeshow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imgsrc" property="imgsrc" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="focus" property="focus" jdbcType="INTEGER" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="prices" property="prices" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="falgs" property="falgs" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, imgsrc, title, count, focus, view, prices, address, falgs
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lnsf.bean.HomeshowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from homeshow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from homeshow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from homeshow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnsf.bean.HomeshowExample" >
    delete from homeshow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnsf.bean.Homeshow" >
    insert into homeshow (id, imgsrc, title, 
      count, focus, view, 
      prices, address, falgs
      )
    values (#{id,jdbcType=INTEGER}, #{imgsrc,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{focus,jdbcType=INTEGER}, #{view,jdbcType=INTEGER}, 
      #{prices,jdbcType=DOUBLE}, #{address,jdbcType=VARCHAR}, #{falgs,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnsf.bean.Homeshow" >
    insert into homeshow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imgsrc != null" >
        imgsrc,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="focus != null" >
        focus,
      </if>
      <if test="view != null" >
        view,
      </if>
      <if test="prices != null" >
        prices,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="falgs != null" >
        falgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgsrc != null" >
        #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="focus != null" >
        #{focus,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        #{view,jdbcType=INTEGER},
      </if>
      <if test="prices != null" >
        #{prices,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="falgs != null" >
        #{falgs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnsf.bean.HomeshowExample" resultType="java.lang.Integer" >
    select count(*) from homeshow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update homeshow
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.imgsrc != null" >
        imgsrc = #{record.imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.focus != null" >
        focus = #{record.focus,jdbcType=INTEGER},
      </if>
      <if test="record.view != null" >
        view = #{record.view,jdbcType=INTEGER},
      </if>
      <if test="record.prices != null" >
        prices = #{record.prices,jdbcType=DOUBLE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.falgs != null" >
        falgs = #{record.falgs,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update homeshow
    set id = #{record.id,jdbcType=INTEGER},
      imgsrc = #{record.imgsrc,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      focus = #{record.focus,jdbcType=INTEGER},
      view = #{record.view,jdbcType=INTEGER},
      prices = #{record.prices,jdbcType=DOUBLE},
      address = #{record.address,jdbcType=VARCHAR},
      falgs = #{record.falgs,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnsf.bean.Homeshow" >
    update homeshow
    <set >
      <if test="imgsrc != null" >
        imgsrc = #{imgsrc,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="focus != null" >
        focus = #{focus,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="prices != null" >
        prices = #{prices,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="falgs != null" >
        falgs = #{falgs,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnsf.bean.Homeshow" >
    update homeshow
    set imgsrc = #{imgsrc,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      focus = #{focus,jdbcType=INTEGER},
      view = #{view,jdbcType=INTEGER},
      prices = #{prices,jdbcType=DOUBLE},
      address = #{address,jdbcType=VARCHAR},
      falgs = #{falgs,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>