<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsf.dao.HousesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnsf.entity.HousesEntity">
        <id column="houses_id" property="housesId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="business_id" property="businessId" />
        <result column="houses_photo" property="housesPhoto" />
        <result column="houses_title" property="housesTitle" />
        <result column="houses_describe" property="housesDescribe" />
        <result column="houses_count" property="housesCount" />
        <result column="houses_focus" property="housesFocus" />
        <result column="houses_view" property="housesView" />
        <result column="houses_prices" property="housesPrices" />
        <result column="houses_address" property="housesAddress" />
        <result column="houses_farction" property="housesFarction" />
        <result column="houses_falgs" property="housesFalgs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        create_time,
        update_time,
        houses_id, business_id, houses_photo, houses_title, houses_describe, houses_count, houses_focus, houses_view, houses_prices, houses_address, houses_farction, houses_falgs
    </sql>


    <select id="page" resultType="com.lnsf.entity.HousesEntity">
        select * from houses t where t.delete_tag=0

        <if test="dto.businessId !=null">
            and t.business_id = #{dto.businessId}
        </if>
        <if test="dto.housesPhoto !=null and dto.housesPhoto != ''">
            and t.houses_photo like CONCAT('%',#{dto.housesPhoto},'%')
        </if>
        <if test="dto.housesTitle !=null and dto.housesTitle != ''">
            and t.houses_title like CONCAT('%',#{dto.housesTitle},'%')
        </if>
        <if test="dto.housesDescribe !=null and dto.housesDescribe != ''">
            and t.houses_describe like CONCAT('%',#{dto.housesDescribe},'%')
        </if>
        <if test="dto.housesCount !=null">
            and t.houses_count = #{dto.housesCount}
        </if>
        <if test="dto.housesFocus !=null">
            and t.houses_focus = #{dto.housesFocus}
        </if>
        <if test="dto.housesView !=null">
            and t.houses_view = #{dto.housesView}
        </if>
        <if test="dto.housesPrices !=null">
            and t.houses_prices = #{dto.housesPrices}
        </if>
        <if test="dto.housesAddress !=null and dto.housesAddress != ''">
            and t.houses_address like CONCAT('%',#{dto.housesAddress},'%')
        </if>
        <if test="dto.housesFarction !=null">
            and t.houses_farction = #{dto.housesFarction}
        </if>
        <if test="dto.housesFalgs !=null and dto.housesFalgs != ''">
            and t.houses_falgs like CONCAT('%',#{dto.housesFalgs},'%')
        </if>
    </select>
    <!--条件拼接查询-->
    <select id="selectHousesByCondition" resultType="com.lnsf.dto.HousesDTO">
        SELECT h.* FROM houses h, houses_details hd
        where h.houses_falgs=0 AND hd.houses_id=h.houses_id
        <if test="typeId !=null">
        AND hd.dict_id=#{typeId}
        </if>
        <if test="peopleNum !=null">
        AND hd.in_num>=#{peopleNum}
        </if>
        <if test="housesAddress !=null and housesAddress != ''">
        AND h.houses_address like CONCAT('%',#{housesAddress},'%')
        </if>
        <if test="startTime !=null or endTime != null">
        AND NOT EXISTS(
        SELECT houses_id
        FROM order_list
        WHERE order_list.houses_id=h.houses_id
        AND order_list.houses_id!='已退租'
        AND order_list.order_pay!='已退款'
        <if test="startTime !=null">
        AND order_list.start_time &lt;= #{startTime}
        </if>
        <if test="endTime !=null">
        AND order_list.end_time>=#{endTime}
        </if>
            )
        </if>

    </select>
</mapper>
