<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsf.dao.SeeNoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnsf.entity.SeeNoteEntity">
        <id column="see_id" property="seeId" />
        <result column="create_time" property="createTime" />
        <result column="houses_title" property="housesTitle" />
        <result column="see_num" property="seeNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        create_time,
        see_id, houses_title, see_num
    </sql>


    <select id="page" resultType="com.lnsf.entity.SeeNoteEntity">
        select * from see_note t where t.delete_tag=0

        <if test="dto.housesTitle !=null and dto.housesTitle != ''">
            and t.houses_title like CONCAT('%',#{dto.housesTitle},'%')
        </if>
        <if test="dto.seeNum !=null">
            and t.see_num = #{dto.seeNum}
        </if>
    </select>
</mapper>
