<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnsf.dao.UserInfoMapper" >

  <resultMap id="BaseResultMap" type="com.lnsf.entity.UserInfoEntity">
    <id column="user_id" property="userId" />
    <result column="username" property="username" />
    <result column="real_name" property="realName" />
    <result column="user_tel" property="userTel" />
    <result column="user_emil" property="userEmil" />
    <result column="password" property="password" />
    <result column="user_power" property="userPower" />
    <result column="user_status" property="userStatus" />
    <result column="user_logintime" property="userLogintime" />
    <result column="user_loginouttime" property="userLoginouttime" />
    <result column="user_num" property="userNum" />
    <result column="user_backup1" property="userBackup1" />
    <result column="user_backup2" property="userBackup2" />
  </resultMap>
  <sql id="BaseColumnList">
        user_id, username, real_name, user_tel, user_emil, password, user_power, user_status, user_logintime, user_loginouttime, user_num, user_backup1, user_backup2
    </sql>

  <select id="page" resultType="com.lnsf.entity.UserInfoEntity">
    select * from user_info t where t.delete_tag=0

    <if test="dto.username !=null and dto.username != ''">
      and t.username like CONCAT('%',#{dto.username},'%')
    </if>
    <if test="dto.realName !=null and dto.realName != ''">
      and t.real_name like CONCAT('%',#{dto.realName},'%')
    </if>
    <if test="dto.userTel !=null and dto.userTel != ''">
      and t.user_tel like CONCAT('%',#{dto.userTel},'%')
    </if>
    <if test="dto.userEmil !=null and dto.userEmil != ''">
      and t.user_emil like CONCAT('%',#{dto.userEmil},'%')
    </if>
    <if test="dto.password !=null and dto.password != ''">
      and t.password like CONCAT('%',#{dto.password},'%')
    </if>
    <if test="dto.userPower !=null and dto.userPower != ''">
      and t.user_power like CONCAT('%',#{dto.userPower},'%')
    </if>
    <if test="dto.userStatus !=null and dto.userStatus != ''">
      and t.user_status like CONCAT('%',#{dto.userStatus},'%')
    </if>
    <if test="dto.userLogintime !=null">
      and t.user_logintime = #{dto.userLogintime}
    </if>
    <if test="dto.userLoginouttime !=null">
      and t.user_loginouttime = #{dto.userLoginouttime}
    </if>
    <if test="dto.userNum !=null">
      and t.user_num = #{dto.userNum}
    </if>
    <if test="dto.userBackup1 !=null and dto.userBackup1 != ''">
      and t.user_backup1 like CONCAT('%',#{dto.userBackup1},'%')
    </if>
    <if test="dto.userBackup2 !=null and dto.userBackup2 != ''">
      and t.user_backup2 like CONCAT('%',#{dto.userBackup2},'%')
    </if>
  </select>
</mapper>